{{ define "ai/show" }}

{{ .Set "header-title" "人工智能" }}
{{ .Set "sidebar-menu" "ai-show" }}

{{ template "shared/_header" . }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <video width="100%" controls="controls">
                            <source src="/assets/video/ai.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}