{{ define "orgs/_new_edit_form" }}

{{ $org := .Data.Org }}

<div class="card-body">
    <fieldset>
        {{ with $field := .Field "Code" }}
        {{ $value := firstof $field.Param $org.Code }}
        <div class="form-group mt mb {{ .ErrClass }}">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 中心编号</label>
            <div class="col-sm-8">
                <input type="text" name="{{ $field.Name }}" value="{{ $value }}" class="form-control" >
                {{ with $msg := $field.Error }}
                    <label class="error">{{ $msg }}</label>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </fieldset>

    <fieldset class="mb0">
        {{ with $field := .Field "Name" }}
        {{ $value := firstof $field.Param $org.Name }}
        <div class="form-group mt {{ .ErrClass }}">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 中心名称</label>
            <div class="col-sm-8">
                <input type="text" name="{{ $field.Name }}" value="{{ $value }}" class="form-control" >
                {{ with $msg := $field.Error }}
                    <label class="error">{{ $msg }}</label>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </fieldset>
</div>


{{ end }}