{{ define "orgs/list" }}

{{ .Set "header-title" "研究中心管理" }}
{{ .Set "sidebar-menu" "org-list" }}

{{ template "shared/_header" . }}

{{ $root := . }}
{{ $orgs := .Data.Orgs }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <div class="container-fluid">
                {{ template "shared/_alert" . }}

                <a href="/orgs/new" class="btn btn-raised btn-labeled btn-primary ripple pull-right"><span class="btn-label"><i class="ion-plus"></i></span>新建中心<span class="md-ripple"></span></a>
                <h5 class="mt-sm">共有 {{len $orgs}} 个中心，创建了 {{ .Data.TotalCases }} 个病例，其中 {{.Data.TotalUnderwayCases}} 个正在填写中，{{ .Data.TotalSubmitCases }} 个已提交。</h5>
                <div class="card mt-lg">
                    <div class="table-responsive bootgrid">
                    <table id="js-org-list" class="table table-striped table-vmiddle table-hover" style="cursor:pointer">
                        <thead>
                        <tr>
                            <th data-column-id="id" data-visible="false" data-visible-in-selection="false">id</th>
                            <th data-column-id="code">编 号</th>
                            <th data-column-id="name">名 称</th>
                            <th data-column-id="countUsers">人员数</th>
                            <th data-column-id="countCases">总病例数</th>
                            <th data-column-id="countSubmitCases">病例提交数</th>
                            <th data-column-id="commands" data-formatter="commands" data-sortable="false">
                                <div class="text-right">操 作</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            {{ range $index, $org := $orgs }}
                            <tr>
                                <td>{{ $org.Id.Hex }}</td>
                                <td>{{ $org.Code }}</td>
                                <td>{{ $org.Name }}</td>
                                <td>{{ index $org.RenderData "countUsers" }}</td>
                                <td>{{ index $org.RenderData "countCases" }}</td>
                                <td>{{ index $org.RenderData "countSubmitCases" }}</td>
                                <td></td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}