{{ define "orgs/new" }}

{{ .Set "header-title" "新建中心" }}
{{ .Set "sidebar-menu" "org-list" }}

{{ template "shared/_header" . }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <ul class="breadcrumb breadcrumb-lead mb0">
                <li><a href="/orgs">研究中心管理</a></li>
                <li class="active"><span>新建中心</span></li>
            </ul>
            <div class="container-fluid">
                <form id="js-case-form" action="/orgs" method="POST" class="form-validate form-horizontal">

                    <div class="card mt pt pb">
                        <div class="card-heading "><small class="pull-right">* 必填项</small>
                            <div class="panel-title">输入研究中心信息</div>
                        </div>

                        {{ template "orgs/_new_edit_form" . }}

                        <div class="card-footer">
                            <div class="text-center pt">
                                <a class="btn btn-raised btn-default mr-xl" href="/cases">取 消</a>
                                <button type="submit" class="btn btn-raised btn-primary mr-xl">确 定</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}