{{ define "setting/reset_password" }}

{{ .Set "header-title" "修改密码" }}

{{ template "shared/_header" . }}

{{ $pwd := .Data.Pwd }}


<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>

            <div class="container-fluid">

                {{ template "shared/_alert" . }}

                <form method="POST" class="form-validate form-horizontal js-action-form">

                    <div class="card mt pt pb">
                        <div class="card-heading ">
                            <div class="panel-title">修改密码</div>
                        </div>

                        <div class="card-body">
                            <fieldset>

                                {{ with $field := .Field "OldPassword" }}
                                {{ $value := firstof $field.Param $pwd.NewPassword }}
                                <div class="form-group mt-lg {{ .ErrClass }}">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">旧密码：</label>
                                    <div class="col-sm-8">
                                        <input type="password" name="{{ $field.Name }}" value="{{ $value }}"
                                            class="form-control">
                                        {{ with $msg := $field.Error }}
                                            <label class="error mb0 mt">{{ $msg }}</label>
                                        {{ end }}
                                    </div>
                                </div>
                                {{ end }}

                                {{ with $field := .Field "NewPassword" }}
                                {{ $value := firstof $field.Param $pwd.OldPassword }}
                                <div class="form-group mt-lg {{ .ErrClass }}">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">新密码：</label>
                                    <div class="col-sm-8">
                                        <input type="password" name="{{ $field.Name }}" value="{{ $value }}"
                                            class="form-control">

                                        {{ with $msg := $field.Error }}
                                            <label class="error mb0 mt">{{ $msg }}</label>
                                        {{ end }}
                                    </div>
                                </div>
                                {{ end }}

                                {{ with $field := .Field "ConfirmPassword" }}
                                {{ $value := firstof $field.Param $pwd.ConfirmPassword }}
                                <div class="form-group mt-lg {{ .ErrClass }}">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">确认密码：</label>
                                    <div class="col-sm-8">
                                        <input type="password" name="{{ $field.Name }}" value="{{ $value }}"
                                            class="form-control">
                                        <span class="help-block">建议使用尽量复杂的密码，最少6个字符</span>
                                        {{ with $msg := $field.Error }}
                                            <label class="error mb0 mt">{{ $msg }}</label>
                                        {{ end }}
                                    </div>
                                </div>
                                {{ end }}

                            </fieldset>
                        </div>


                        <div class="card-footer">
                            <div class="text-center pt">
                                <button type="button" data-url="/settings/reset-password" class="js-action-btn btn btn-raised btn-primary">确 定</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}