{{ define "setting/sms" }}

{{ .Set "header-title" "短信设置" }}

{{ template "shared/_header" . }}

{{ $sms := .Data.Sms }}


<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>

            <div class="container-fluid">
                <form method="POST" class="form-validate form-horizontal js-action-form">

                    <div class="card mt pt pb">
                        <div class="card-heading ">
                            <div class="panel-title">短信发送设置</div>
                        </div>

                        <div class="card-body">
                            <fieldset>

                                {{ with $field := .Field "Disabled" }}
                                {{ $value := firstof $field.Param $sms.Disabled }}
                                <div class="form-group pb-lg">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">是否启用短信：</label>
                                    <div class="col-sm-8 js-{{$field.Name}}">
                                        <label class="radio-inline c-radio">
                                            <input type="radio" value="false" name="{{ $field.Name }}">
                                            <span class="ion-record"></span>是
                                        </label>

                                        <label class="radio-inline c-radio">
                                            <input type="radio" value="true" name="{{ $field.Name }}">
                                            <span class="ion-record"></span>否
                                        </label>
                                    </div>
                                    <script>
                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                    </script>
                                </div>
                                {{ end }}

                                {{ with $field := .Field "Mobile" }}
                                {{ $value := firstof $field.Param $sms.Mobile }}
                                <div class="form-group mt-lg {{ .ErrClass }}">
                                    <label class="col-sm-2 col-sm-offset-1 control-label">群发至手机号：</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="{{ $field.Name }}" value="{{ $value }}"
                                            class="form-control">
                                        <span class="help-block">可输入多个手机号，以空格区分</span>
                                        {{ with $msg := $field.Error }}
                                            <label class="error mb0 mt">{{ $msg }}</label>
                                        {{ end }}
                                    </div>
                                </div>
                                {{ end }}

                            </fieldset>
                        </div>


                        <div class="card-footer">
                            <div class="text-center pt">
                                <button type="button" data-url="/settings/sms" class="js-action-btn btn btn-raised btn-primary">确 定</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}