{{ define "users/_new_edit_form" }}

{{ $user := .Data.User }}

{{ $orgs := .Data.Orgs }}

<div class="card-body">
    <fieldset>
        {{ with $field := .Field "Mobile" }}
        {{ $value := firstof $field.Param $user.Mobile }}
        <div class="form-group mt mb {{ .ErrClass }}">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 手 机</label>
            <div class="col-sm-8">
                <input type="text" name="{{ $field.Name }}" value="{{ $value }}" class="form-control" >
                {{ with $msg := $field.Error }}
                    <label class="error">{{ $msg }}</label>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </fieldset>

    <fieldset>
        {{ with $field := .Field "Name" }}
        {{ $value := firstof $field.Param $user.Name }}
        <div class="form-group mt mb {{ .ErrClass }}">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 名 称</label>
            <div class="col-sm-8">
                <input type="text" name="{{ $field.Name }}" value="{{ $value }}" class="form-control" >
                {{ with $msg := $field.Error }}
                    <label class="error">{{ $msg }}</label>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </fieldset>

    <fieldset>
        {{ with $field := .Field "IsAdmin" }}
        {{ $value := firstof $field.Param $user.Role.IsAdmin }}
        <div class="form-group mt mb {{ .ErrClass }}">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 角 色</label>
            <div class="col-sm-8">
                <select name="{{ $field.Name }}" class="form-control">
                    {{ option "研究人员" false $value }}
                    {{ option "管理员" true $value }}
                </select>
                {{ with $msg := $field.Error }}
                <label class="error">{{ $msg }}</label>
            {{ end }}
            </div>
        </div>
        {{ end }}
    </fieldset>

    <fieldset>
        {{ with $field := .Field "OrgID" }}
        {{ $value := firstof $field.Param $user.OrgID.Hex }}
        <div class="form-group mt mb {{ .ErrClass }}">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 所属研究中心</label>
            <div class="col-sm-8">
                <select name="{{ $field.Name }}" class="form-control">
                    {{ range $orgs}}
                        {{ option .NameWithCode .IdHex $value }}
                    {{ end }}
                </select>
                {{ with $msg := $field.Error }}
                <label class="error">{{ $msg }}</label>
            {{ end }}
            </div>
        </div>
        {{ end }}
    </fieldset>

    <fieldset class="mb0">
        {{ with $field := .Field "IsSmsDisabled" }}
        {{ $value := firstof $field.Param $user.IsSmsDisabled }}
        <div class="form-group mt mb">
            <label class="col-sm-2 control-label"><span class="text-danger">*</span> 启用短信通知</label>
            <div class="col-sm-8 js-{{$field.Name}}">
                <label class="radio-inline c-radio">
                    <input type="radio" value="false" name="{{ $field.Name }}">
                    <span class="ion-record"></span>是
                </label>

                <label class="radio-inline c-radio">
                    <input type="radio" value="true" name="{{ $field.Name }}">
                    <span class="ion-record"></span>否
                </label>
            </div>
            <script>
                $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
            </script>
        </div>
        {{ end }}
    </fieldset>


</div>


{{ end }}