{{ define "users/edit" }}

{{ .Set "header-title" "编辑人员" }}
{{ .Set "sidebar-menu" "user-list" }}

{{ template "shared/_header" . }}

{{ $user := .Data.User }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <ul class="breadcrumb breadcrumb-lead mb0">
                <li><a href="/users">人员管理</a></li>
                <li class="active"><span>编辑人员</span></li>
            </ul>
            <div class="container-fluid">

                {{ template "shared/_alert" . }}

                <form id="js-user-form" action="/users/{{ $user.IdHex }}" method="POST" class="form-validate form-horizontal">

                    <div class="card mt pt pb">
                        <div class="card-heading "><small class="pull-right">* 必填项</small>
                            <div class="panel-title">编辑人员信息</div>
                        </div>

                        {{ template "users/_new_edit_form" . }}

                        <div class="card-footer">
                            <div class="text-center pt">
                                <a class="btn btn-raised btn-default mr-xl" href="/cases">取 消</a>
                                <button type="submit" class="btn btn-raised btn-primary mr-xl">确 定</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}