{{ define "users/list" }}

{{ .Set "header-title" "人员管理" }}
{{ .Set "sidebar-menu" "user-list" }}

{{ template "shared/_header" . }}

{{ $root := . }}
{{ $users := .Data.Users }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <div class="container-fluid">
                {{ template "shared/_alert" . }}

                <a href="/users/new" class="btn btn-raised btn-labeled btn-primary ripple pull-right"><span class="btn-label"><i class="ion-plus"></i></span>新建人员<span class="md-ripple"></span></a>
                <h5 class="mt-sm">所有中心，共有 {{ len $users }} 个研究人员。</h5>
                <div class="card mt-lg">
                    <div class="table-responsive bootgrid">
                    <table id="js-user-list" class="table table-striped table-vmiddle table-hover" style="cursor:pointer">
                        <thead>
                        <tr>
                            <th data-column-id="id" data-visible="false" data-visible-in-selection="false">id</th>
                            <th data-column-id="name">名 称</th>
                            <th data-column-id="mobile">手机号</th>
                            <th data-column-id="role">角 色</th>
                            <th data-column-id="org">所属研究中心</th>
                            <th data-column-id="countCases">创建病例数</th>
                            <th data-column-id="countSubmitCases">病例提交数</th>
                            <th data-column-id="commands" data-formatter="commands" data-sortable="false">
                                <div class="text-right">操 作</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            {{ range $index, $item := $users }}
                            <tr>
                                <td>{{ $item.Id.Hex }}</td>
                                <td>{{ $item.Name }}</td>
                                <td>{{ $item.Mobile }}</td>
                                <td>{{ if $item.Role.IsAdmin }}管理员{{ else }}研究人员{{end}}</td>
                                <td>{{ with index $item.RenderData "org" }} {{ .Code }} - {{ .Name }} {{ end }}</td>
                                <td>{{ index $item.RenderData "countCases" }}</td>
                                <td>{{ index $item.RenderData "countSubmitCases" }}</td>
                                <td></td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}