{{ define "cases/_new_edit_form" }}

{{ $case := .Data.Case }}
{{ $patient := $case.Patient }}

<div class="card-body">
    <fieldset>
        <div class="form-group pt pb">
            {{ with $field := .Field "familyName" }}
            <div class="col-sm-5 col-xs-6 {{ .ErrClass }}">
                <div class="row">
                    {{/*张吉元修改*/}}
                    <label class="col-sm-4 control-label"><span class="text-danger" >*<span style="font-size: 95%;color: black">自定义编号</span></span> </label>
                    <div class="col-sm-8">
                        {{/*张吉元修改*/}}
                        <input type="text" placeholder="请输入1～8位数字编号！" name="{{ $field.Name }}" value="{{ firstof ($field.IndexParams 0) $patient.FamilyName }}"
                                class="form-control js-family-name" data-pinyin="js-family-name-pinyin" id="patient_num">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-4">
                        {{ with $msg := $field.Error }}
                            <label class="error">{{ $msg }}</label>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}

            {{/***************************************************张吉元注释
            {{ with $field := .Field "givenName" }}
            <div class="col-xs-6 {{ .ErrClass }}">
                <div class="row">
                    <label class="col-sm-4 control-label"><span class="text-danger">*</span> 中文名字</label>
                    <div class="col-sm-8">
                        <input type="text" name="{{ $field.Name }}" value="{{ firstof ($field.IndexParams 1) $patient.GivenName }}"
                                class="form-control js-given-name" data-pinyin="js-given-name-pinyin">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-4">
                        {{ with $msg := $field.Error }}
                            <label class="error">{{ $msg }}</label>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </fieldset>

    <fieldset class="pb0 mb0">
        <div class="form-group">
            {{ with $field := .Field "familyPinyin" }}
            <div class="col-sm-5 pt pb {{ .ErrClass }}">
                <div class="row js-family-name-pinyin">
                    <label class="col-xs-4 control-label"><span class="text-danger">*</span> 姓氏拼音</label>

                    <div class="col-xs-4">
                        {{ $fpy0 := secureIndex $patient.FamilyPinyin 0 }}
                        <input type="text" name="{{ $field.Name }}" value="{{ firstof ($field.IndexParams 0) $fpy0 }}" class="form-control">
                    </div>
                    <div class="col-xs-4">
                        {{ $fpy1 := secureIndex $patient.FamilyPinyin 1 }}
                        <input type="text" name="{{ $field.Name }}" value="{{ firstof ( $field.IndexParams 1) $fpy1 }}" class="form-control" >
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-offset-4">
                        {{ with $msg := $field.Error }}
                            <label class="error">{{ $msg }}</label>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}exportPDF

            {{ with $field := .Field "givenPinyin" }}
            <div class="col-sm-6 pt pb {{ .ErrClass }}">
                <div class="row js-given-name-pinyin">
                    <label class="col-xs-4 control-label"><span class="text-danger">*</span> 名字拼音</label>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-4">
                                {{ $gpy0 := secureIndex $patient.GivenPinyin 0 }}
                                <input type="text" name="{{ $field.Name }}" value="{{ firstof ($field.IndexParams 0) $gpy0 }}" class="form-control">
                            </div>
                            <div class="col-xs-4">
                                {{ $gpy1 := secureIndex $patient.GivenPinyin 1 }}
                                <input type="text" name="{{ $field.Name }}" value="{{ firstof ($field.IndexParams 1) $gpy1 }}" class="form-control">
                            </div>
                            <div class="col-xs-4">
                                {{ $gpy2 := secureIndex $patient.GivenPinyin 2 }}
                                <input type="text" name="{{ $field.Name }}" value="{{ firstof ($field.IndexParams 2) $gpy2 }}" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-offset-4">
                        {{ with $msg := $field.Error }}
                            <label class="error">{{ $msg }}</label>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </fieldset>
</div>*/}}


{{ end }}