{{ define "cases/edit" }}

{{ .Set "header-title" "编辑病例" }}
{{ .Set "sidebar-menu" "case-list" }}

{{ template "shared/_header" . }}

{{ $case := .Data.Case }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <ul class="breadcrumb breadcrumb-lead mb0">
                <li><a href="/cases">病例列表</a></li>
                <li class="active"><span>编辑病例</span></li>
            </ul>

            <div class="container-fluid">

                {{ template "shared/_alert" . }}

                <form id="js-case-form" action="/cases/{{ $case.IdHex }}" method="POST" class="form-validate form-horizontal">

                    <div class="card mt pt pb">
                        <div class="card-heading "><small class="pull-right">* 必填项</small>
                            <div class="panel-title">编辑患者信息</div>
                        </div>

                        {{ template "cases/_new_edit_form" . }}

                        <div class="card-footer">
                            <div class="text-center pt">
                                <a class="btn btn-raised btn-default mr-xl" href="/cases">返回列表</a>
                                <button type="submit" class="btn btn-raised btn-primary mr-xl">保 存</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}

{{ end }}