{{ define "cases/list" }}

{{ .Set "header-title" "病例列表" }}
{{ .Set "sidebar-menu" "case-list" }}

{{ template "shared/_header" . }}

{{ $org := .Data.Org }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <div class="container-fluid">
                <a href="/cases/new" class="btn btn-raised btn-labeled btn-primary ripple pull-right"><span class="btn-label"><i class="ion-plus"></i></span>新建病例<span class="md-ripple"></span></a>
                <h5 class="mt-sm">
                    {{ if $org }}
                        {{$org.Name}}（{{ $org.Code }}）
                    {{ end }}
                    共创建 {{ .Data.TotalCount }} 个病例
{{/*                    ，其中 {{.Data.UnderwayCount}} 个正在填写中，{{ .Data.FinishedCount }} 个已提交*/}}
                </h5>


                <div class="card mt-lg">
                    <div class="table-responsive bootgrid">
                    <table id="js-case-list" class="table table-striped table-vmiddle table-hover" style="cursor:pointer">
                        <thead>
                        <tr>
                            <th data-column-id="id" data-visible="false" data-visible-in-selection="false">id</th>
                            <th data-column-id="orgId" data-visible="false" data-visible-in-selection="false">orgId</th>
                            <th data-column-id="code">病例编号</th>
{{/*                            <th data-column-id="name">姓名缩写</th>*/}}
{{/*                            <th data-column-id="status">状 态</th>*/}}
                            <th data-column-id="commands" data-formatter="commands" data-sortable="false">
                            <div class="text-right">操 作</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            {{ range $index, $case := .Data.Items }}
                            <tr>
                                <td>{{ $case.Id.Hex }}</td>
                                <td>{{ $case.OrgID.Hex }}</td>
                                <td>{{ $case.CaseNumb }}</td>
                                <td>{{ $case.PatientAcronym }}</td>
                                <td>{{ $case.StatusLabel }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}