{{ define "cases/new" }}

{{ .Set "header-title" "新建病例" }}
{{ .Set "sidebar-menu" "case-list" }}

{{ template "shared/_header" . }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <ul class="breadcrumb breadcrumb-lead mb0">
                <li><a href="/cases">病例列表</a></li>
                <li class="active"><span>新建病例</span></li>
            </ul>
            <div class="container-fluid">
                <form id="js-case-form" action="/cases" method="POST" class="form-validate form-horizontal">

                    <div class="card mt pt pb">
                        <div class="card-heading "><small class="pull-right">* 必填项</small>
                            <div class="panel-title">输入患者信息</div>
                        </div>

                        {{ template "cases/_new_edit_form" . }}

                        <div class="card-footer">
                            <div class="text-center pt">
                                <a class="btn btn-raised btn-default mr-xl" href="/cases">取 消</a>
                                <button type="submit" class="btn btn-raised btn-primary mr-xl" onclick="return prompt()" id="make_sure">确 定</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>
<script>
    function prompt() {
        var p_n = document.getElementById("patient_num").value;
        if(p_n == "" || p_n == null){
            alert("输入值不能为空")
            var file = document.getElementById("patient_num");
            file.value = ""
            return false;
        }else if (!isNaN(p_n)) {
            if (p_n > 99999999 || p_n <= 0){
                alert("请输入1～8位数字")
                var file = document.getElementById("patient_num");
                file.value = ""
                return false
            }else {
                return true;
            }
        }else{
            alert("请输入1～8位数字")
            var file = document.getElementById("patient_num");
            file.value = ""
            return false;
        }

    }
</script>
{{ template "shared/_footer" }}
{{ end }}