{{ define "cases/show" }}

{{ .Set "header-title" "病例详情" }}
{{ .Set "sidebar-menu" "case-list" }}

{{ template "shared/_header" . }}

{{ $case := .Data.Case }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <ul class="breadcrumb breadcrumb-lead mb0">
                <li><a href="/cases">病例列表</a></li>
                <li class="active"><span>病例详情</span></li>
            </ul>
            <div class="container-fluid">
                <div class="row fh">
                    <div class="col-md-3 fh pl0">
                        <div class="pb-lg">
                            <h5 class="text-center"></h5>
{{/*                            患者：{{ $case.PatientAcronym }}*/}}
                            <p class="text-center">病例编号：{{ $case.Code }}</p>
                        </div>
                        <div id="markers-list" class="list-group list-group-unstyle">
                            <a data-panto-marker="0" class="list-group-item" style="color:#448AFF">
                                <em class="pull-right ion-ios-arrow-forward"></em>
                                <span class="pull-left nav-label mr"><span class="badge bg-success"> </span></span>
                                01 - 病例信息采集表
                            </a>
                            <a data-panto-marker="1" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-success"> </span></span>
                                02 - 入排标准筛查表
                            </a>
                            <a data-panto-marker="2" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-success"> </span></span>
                                03 - 治疗计划分组表
                            </a>
                            <a data-panto-marker="3" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
                                04 - AVM首次发病情况表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-success"> </span></span>
                                05 - AVM影像形态资料表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-success"> </span></span>
                                06 - Rankin评分表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-success"> </span></span>
                                07 - NIH卒中评分
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-warning"> </span></span>
                                08 - 既往疾病史表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-success"> </span></span>
                                09 - 药物治疗表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
                                10 - 既往AVM干预治疗表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-success"> </span></span>
                                11 - SF36生活质量评分
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-success"> </span></span>
                                12 - EuroQoL生存质量表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-warning"> </span></span>
                                13 - 干预治疗表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-success"> </span></span>
                                14 - 临床访视表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-warning"> </span></span>
                                15 - 不良事件表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-warning"> </span></span>
                                16 - 颅内出血评分表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-warning"> </span></span>
                                17 - 住院治疗表
                            </a>
                            <a data-panto-marker="4" class="list-group-item">
                                <span class="pull-left nav-label mr"><span class="badge bg-warning"> </span></span>
                                18 - 死亡事件表
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 fh pl0">
                        <div class="card">
                            <div class="card-heading bg-success">
                                <div class="pull-right"><em class="ion-ios-browsers-outline icon-2x va-top"></em></div>
                                <div class="card-title text-center">病例信息采集表</div>
                            </div>
                            <div class="card-body">
                                <form method="get" action="/" class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Rounded Corners</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control rounded">
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">With help</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"><span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label for="input-id-1" class="col-sm-2 control-label">Label focus</label>
                                    <div class="col-sm-10">
                                        <input id="input-id-1" type="text" class="form-control">
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Placeholder</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="placeholder" class="form-control">
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-lg-2 control-label">Disabled</label>
                                    <div class="col-lg-10">
                                        <input type="text" placeholder="Disabled input here..." disabled="" class="form-control">
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-lg-2 control-label">Static control</label>
                                    <div class="col-lg-10">
                                        <p class="form-control-static">email@example.com</p>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Checkboxes and radios</label>
                                    <div class="col-sm-10">
                                        <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Option one is this and that—be sure to include why it's great
                                        </label>
                                        </div>
                                        <div class="radio">
                                        <label>
                                            <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="">Option one is this and that—be sure to include why it's great
                                        </label>
                                        </div>
                                        <div class="radio">
                                        <label>
                                            <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2">Option two can be something else and selecting it will deselect option one
                                        </label>
                                        </div>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Inline checkboxes</label>
                                    <div class="col-sm-10">
                                        <label class="checkbox checkbox-inline">
                                        <input id="inlineCheckbox1" type="checkbox" value="option1"> a
                                        </label>
                                        <label class="checkbox-inline">
                                        <input id="inlineCheckbox2" type="checkbox" value="option2"> b
                                        </label>
                                        <label class="checkbox-inline">
                                        <input id="inlineCheckbox3" type="checkbox" value="option3"> c
                                        </label>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset class="last-child">
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Select</label>
                                    <div class="col-sm-10">
                                        <select name="account" class="form-control">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                        </select><br>
                                        <div class="row">
                                        <div class="col-lg-4">
                                            <select multiple="" class="form-control">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                            </select>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Checkboxes</label>
                                    <div class="col-sm-10">
                                        <div class="checkbox c-checkbox">
                                        <label>
                                            <input type="checkbox" value=""><span class="ion-checkmark-round"></span> Option one
                                        </label>
                                        </div>
                                        <div class="checkbox c-checkbox">
                                        <label>
                                            <input type="checkbox" checked="" value=""><span class="ion-checkmark-round"></span> Option two checked
                                        </label>
                                        </div>
                                        <div class="checkbox c-checkbox">
                                        <label>
                                            <input type="checkbox" checked="" disabled="" value=""><span class="ion-checkmark-round"></span> Option three checked and disabled
                                        </label>
                                        </div>
                                        <div class="checkbox c-checkbox">
                                        <label>
                                            <input type="checkbox" disabled="" value=""><span class="ion-checkmark-round"></span> Option four disabled
                                        </label>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">Radios</label>
                                    <div class="col-sm-10">
                                        <div class="radio c-radio">
                                        <label>
                                            <input type="radio" name="a" value="option1"><span class="ion-record"></span> Option one
                                        </label>
                                        </div>
                                        <div class="radio c-radio">
                                        <label>
                                            <input type="radio" name="a" value="option2" checked=""><span class="ion-record"></span> Option two checked
                                        </label>
                                        </div>
                                        <div class="radio c-radio">
                                        <label>
                                            <input type="radio" value="option2" checked="" disabled=""><span class="ion-record"></span> Option three checked and disabled
                                        </label>
                                        </div>
                                        <div class="radio c-radio">
                                        <label>
                                            <input type="radio" name="a" disabled=""><span class="ion-record"></span> Option four disabled
                                        </label>
                                        </div>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Inline checkboxes</label>
                                    <div class="col-sm-10">
                                        <label class="checkbox-inline c-checkbox">
                                        <input id="inlineCheckbox10" type="checkbox" value="option1"><span class="ion-checkmark-round"></span> a
                                        </label>
                                        <label class="checkbox-inline c-checkbox">
                                        <input id="inlineCheckbox20" type="checkbox" value="option2"><span class="ion-checkmark-round"></span> b
                                        </label>
                                        <label class="checkbox-inline c-checkbox">
                                        <input id="inlineCheckbox30" type="checkbox" value="option3"><span class="ion-checkmark-round"></span> c
                                        </label>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Rounded</label>
                                    <div class="col-sm-10">
                                        <div class="checkbox c-checkbox c-checkbox-rounded">
                                        <label>
                                            <input id="roundedcheckbox10" type="checkbox" checked=""><span class="ion-checkmark-round"></span> Lorem
                                        </label>
                                        </div>
                                        <div class="checkbox c-checkbox c-checkbox-rounded">
                                        <label>
                                            <input id="roundedcheckbox20" type="checkbox"><span class="ion-checkmark-round"></span> Ipsum
                                        </label>
                                        </div>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Inline radios</label>
                                    <div class="col-sm-10">
                                        <label class="radio-inline c-radio">
                                        <input id="inlineradio1" type="radio" name="i-radio" value="option1" checked=""><span class="ion-record"></span> a
                                        </label>
                                        <label class="radio-inline c-radio">
                                        <input id="inlineradio2" type="radio" name="i-radio" value="option2"><span class="ion-record"></span> b
                                        </label>
                                        <label class="radio-inline c-radio">
                                        <input id="inlineradio3" type="radio" name="i-radio" value="option3"><span class="ion-record"></span> c
                                        </label>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Custom icons</label>
                                    <div class="col-sm-10">
                                        <label class="radio-inline c-radio">
                                        <input id="inlineradio10" type="radio" name="i-radio" value="option1" checked=""><span class="ion-checkmark-round"></span> a
                                        </label>
                                        <label class="radio-inline c-radio">
                                        <input id="inlineradio20" type="radio" name="i-radio" value="option2" checked=""><span class="ion-person"></span> b
                                        </label>
                                        <label class="radio-inline c-radio">
                                        <input id="inlineradio30" type="radio" name="i-radio" value="option3" checked=""><span class="ion-waterdrop"></span> c
                                        </label><br>
                                        <label class="checkbox-inline c-checkbox">
                                        <input id="inlinecheckbox10" type="checkbox" value="option1" checked=""><span class="ion-star"></span> a
                                        </label>
                                        <label class="checkbox-inline c-checkbox">
                                        <input id="inlinecheckbox20" type="checkbox" value="option2" checked=""><span class="ion-heart"></span> b
                                        </label>
                                        <label class="checkbox-inline c-checkbox">
                                        <input id="inlinecheckbox30" type="checkbox" value="option3" checked=""><span class="ion-ios-bell"></span> c
                                        </label>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-success">
                                    <label class="col-sm-2 control-label">Input with success</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-warning">
                                    <label class="col-sm-2 control-label">Input with warning</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-error">
                                    <label class="col-sm-2 control-label">Input with error</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Control sizing</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder=".input-lg" class="form-control input-lg"><br>
                                        <input type="text" placeholder="Default input" class="form-control"><br>
                                        <input type="text" placeholder=".input-sm" class="form-control input-sm">
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Column sizing</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                        <div class="col-md-2">
                                            <input type="text" placeholder=".col-md-2" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" placeholder=".col-md-3" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" placeholder=".col-md-4" class="form-control">
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Input groups</label>
                                    <div class="col-sm-10">
                                        <div class="input-group"><span class="input-group-addon">@</span>
                                        <input type="text" placeholder="Username" class="form-control">
                                        </div><br>
                                        <div class="input-group">
                                        <input type="text" class="form-control"><span class="input-group-addon">.00</span>
                                        </div><br>
                                        <div class="input-group"><span class="input-group-addon">$</span>
                                        <input type="text" class="form-control"><span class="input-group-addon">.00</span>
                                        </div><br>
                                        <div class="input-group"><span class="input-group-addon">
                                            <input type="checkbox"></span>
                                        <input type="text" class="form-control">
                                        </div><br>
                                        <div class="input-group"><span class="input-group-addon">
                                            <input type="radio"></span>
                                        <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Button addons</label>
                                    <div class="col-sm-10">
                                        <div class="input-group"><span class="input-group-btn">
                                            <button type="button" class="btn btn-default">Go!</button></span>
                                        <input type="text" class="form-control">
                                        </div><br>
                                        <div class="input-group">
                                        <input type="text" class="form-control"><span class="input-group-btn">
                                            <button type="button" class="btn btn-default">Go!</button></span>
                                        </div>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">With dropdowns</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" data-toggle="dropdown" class="btn btn-default">Action<span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                        <input type="text" class="form-control">
                                        </div><br>
                                        <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-btn">
                                            <button type="button" data-toggle="dropdown" class="btn btn-default">Action<span class="caret"></span></button>
                                            <ul class="dropdown-menu pull-right">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Segmented</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" tabindex="-1" class="btn btn-default">Action</button>
                                            <button type="button" data-toggle="dropdown" class="btn btn-default"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                        <input type="text" class="form-control">
                                        </div><br>
                                        <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-btn">
                                            <button type="button" tabindex="-1" class="btn btn-default">Action</button>
                                            <button type="button" data-toggle="dropdown" class="btn btn-default"><span class="caret"></span></button>
                                            <ul class="dropdown-menu pull-right">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </fieldset>
                                <!-- <hr> -->
                                <div class="text-center">
                                    <button type="button" class="btn btn-warning pull-left">暂 存</button>
                                    <button type="button" class="btn btn-default">清除重填</button>
                                    <button type="button" class="btn btn-info pull-right">确 认</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}