.checkbox-inline,
.checkbox-inline+.checkbox-inline,
.checkbox-inline+.radio-inline,
.radio-inline,
.radio-inline+.radio-inline,
.radio-inline+.checkbox-inline {
    margin-left: 0;
    margin-right: 10px;
}

.checkbox-inline:last-child,
.radio-inline:last-child {
    margin-right: 0;
}

.has-error .mda-form-control-line {
    background-color: #F44336 !important;
}

.has-error label {
    color: #F44336 !important;
    opacity: 1 !important;
}

.form-validate label.error {
    margin-top: 5px;
}

.form-validate .mda-form-group label.error {
    margin-left: 36px;
}


#js-match-list a.list-group-item em {
    display: none;
}
#js-match-list a.list-group-item.selected {
    color: #448AFF;
    font-weight: 600;
}

#js-match-list a.list-group-item.selected em {
    display: block;
}

#js-match16 .card-heading strong {
    font-size: 15px;
}

#js-match16 .card-body .control-label,
#js-match03 .card-body .control-label {
    padding-bottom: 7px
}

.css-dropzone .dz-message {
    margin: 0
}

#css-survey-section label {
    font-weight: 500;
}

#css-survey-section .c-radio,
#css-survey-section .c-checkbox {
    margin-right: 30px;
    line-height: 25px
}

#css-survey-section .c-radio span,
#css-survey-section .c-checkbox span {
    vertical-align: middle;
}

#css-survey-section .card .card-body {
    padding: 25px 40px
}

#css-survey-section header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em;
    margin-bottom: 5px;
    padding-top: 30px;
    border-top: 1px dashed rgba(162, 162, 162, 0.25)
}

#css-survey-section .row {
    padding-top: 10px
}

#css-survey-section .form-group {
    margin-bottom: 10px
}

#css-survey-section .css-cascade {
    background-color: aliceblue
}

#css-survey-section .radio-inline,
#css-survey-section .checkbox-inline {
    margin-top: 10px;
    margin-bottom: 10px;
}

#css-survey-section .checkbox+.checkbox,
.radio+.radio {
    margin-top: 10px
}

#css-survey-section .css-paragraph{
    line-height: 34px

}

#css-survey-section .option-text-input {
    position: relative;
    opacity: 1;
    margin-left: 15px !important;
    padding-left: 8px;
    padding-right: 8px;
    height: 28px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s,
    -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
}

#css-survey-section .embed-text-input {
    position: relative;
    opacity: 1;
    width: 80px;
    color: #555;
    font-weight: 500;
    height: 28px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s,
    -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
}

#css-survey-section .embed-text-input.has-error {
    border-color: #F44331;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#css-survey-section .has-error .css-embed-input-error {
    padding-left: 0px;
}

#css-survey-section .css-survey-log {
    background-color: rgba(0,0,0,.03);
    padding-left: 40px;
    padding-right: 40px;
}

#css-survey-section .card-footer {
    padding-top: 25px;
    padding-bottom: 25px;
}

#css-survey-section .css-option-input {
    margin-top: 5px;
}

.table > tbody > tr.info > td {
    background-color: #d9edf7;
}

.table > tbody > tr:hover {
    background-color: #d9edf7;
}

.table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
    background-color: #d9edf7;
}

input::placeholder {
    color: #aaa;
  }