{{ define "matches/_new_edit_form" }}

{{ $match := .Data.Match }}

<fieldset>
    {{ with $field := .Field "Name" }}
    {{ $value := firstof $field.Param $match.Name }}
    <div class="form-group mt mb {{ .ErrClass }}">
        <label><span class="text-danger">*</span> 表名称</label>
        <input type="text" name="{{ $field.Name }}" value="{{ $value }}" class="form-control" >
        {{ with $msg := $field.Error }}
            <label class="error">{{ $msg }}</label>
        {{ end }}
    </div>
    {{ end }}

    <div class="form-group">
        <div class="checkbox">
            <label>
                {{ with $field := .Field "Enabled" }}
                {{ $value := firstof $field.Param $match.Enabled }}
                <input name="{{ $field.Name }}" type="checkbox" value="true" {{if $value}}checked{{end}}> <strong>启用</strong>
                {{ end }}
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ with $field := .Field "SmsKey" }}
            {{ $value := firstof $field.Param $match.SmsKey }}
            <div class="form-group mt mb {{ .ErrClass }}">
                <label>短信模板名称</label>
                <input type="text" name="{{ $field.Name }}" value="{{ $value }}" class="form-control" >
                {{ with $msg := $field.Error }}
                    <label class="error">{{ $msg }}</label>
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="col-sm-6">
            {{ with $field := .Field "SmsParams" }} {{ $value := firstof $field.Param $match.SmsParams }}
            <div class="form-group mt mb {{ .ErrClass }}">
                <label>短信模板参数</label>
                <input type="text" name="{{ $field.Name }}" value="{{ $value }}" class="form-control"> {{ with $msg := $field.Error }}
                <label class="error">{{ $msg }}</label>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</fieldset>

<fieldset>
    <p class="pb"><span class="text-danger">*</span> <strong>自定义内容</strong></p>

    <div id="js-fb-editor"></div>

    <div id="js-fb-render" style="display:none">
        <div class="js-fb-render-area"></div>
        <button type="button" class="btn btn-default js-fb-render-edit">重新编辑</button>
    </div>

    {{ with $field := .Field "Fields" }}
    {{ $value := firstof $field.Param $match.FieldsToString }}
        <input type="hidden" name="{{ $field.Name }}" value="{{ $value }}">
    {{ end }}

</fieldset>


{{ end }}