{{ define "matches/list" }}

{{ .Set "header-title" "新建调查表" }}
{{ .Set "sidebar-menu" "match-list" }}

{{ template "shared/_header" . }}

{{ $root := . }}
{{ $items := .Data.Matches }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>

            <div class="container-fluid">
                {{ template "shared/_alert" . }}

                <a href="/matches/new" class="btn btn-raised btn-labeled btn-primary ripple pull-right"><span class="btn-label"><i class="ion-plus"></i></span>新建研究表<span class="md-ripple"></span></a>
                <h5 class="mt-sm">共创建了 {{len $items}} 个调查表</h5>

                <div class="card mt-lg">
                    <div class="table-responsive bootgrid">
                    <table id="js-match-table" class="table table-striped table-vmiddle table-hover" style="cursor:pointer">
                        <thead>
                        <tr>
                            <th data-column-id="id" data-visible="false" data-visible-in-selection="false">id</th>
                            <th data-column-id="name">名 称</th>
                            <th data-column-id="createdat">更新时间</th>
                            <th data-column-id="createdat">创建时间</th>
                            <th data-column-id="commands" data-formatter="commands" data-sortable="false">
                                <div class="text-right">操 作</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            {{ range $index, $item := $items }}
                            <tr>
                                <td>{{ $item.Id.Hex }}</td>
                                <td>{{ $item.Name }}</td>
                                <td>{{ $item.UpdatedAtStr }}</td>
                                <td>{{ $item.CreatedAtStr }}</td>
                                <td></td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}