{{ define "matches/new" }}

{{ .Set "header-title" "新建研究表" }}
{{ .Set "sidebar-menu" "match-list" }}

{{ template "shared/_header" . }}

{{ $match := .Data.Match }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <ul class="breadcrumb breadcrumb-lead mb0">
                <li><a href="/matches">研究表管理</a></li>
                <li class="active"><span>新建研究表</span></li>
            </ul>
            <div class="container-fluid">


                <div class="card mt pt pb">
                    <div class="card-heading "><small class="pull-right">* 必填项</small>
                        <div class="panel-title">输入研究表信息</div>
                    </div>

                    <div class="card-body">
                        {{ template "matches/_new_edit_form" . }}
                    </div>

                    <div class="card-footer">
                        <div class="text-center pt">
                            <a class="btn btn-raised btn-default mr-xl" href="/matches">返回列表</a>
                            <button type="button" data-url="/matches" class="btn btn-raised btn-primary mr-xl js-match-submit">保 存</button>
                        </div>
                    </div>
                </div>


            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}