{{ define "matches/show" }}

{{ .Set "header-title" "研究表详情" }}
{{ .Set "sidebar-menu" "match-list" }}

{{ template "shared/_header" . }}

{{ $match := .Data.Match }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <div class="row bg-white">
                <div class="col-xs-6">
                    <ul class="breadcrumb breadcrumb-lead mb0">
                        <li>
                            <a href="/matches">研究表管理</a>
                        </li>
                        <li class="active">
                            <span>{{ $match.Name }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="btn btn-primary ripple mt mr-lg" href="/matches/{{$match.IdHex}}/edit">编辑研究表</a>
                </div>
            </div>

            <div class="container-fluid">
                {{ template "shared/_alert" . }}

                <div class="card mt pb">
                    <div class="card-heading bg-danger">
                        <div class="pull-right">
                            <em class="ion-ios-browsers-outline icon-2x va-top"></em>
                        </div>
                        <div class="card-title text-center">{{ $match.Name }}</div>
                    </div>

                    <div class="card-body">
                        <div class="js-fb-render-area">

                        </div>
                        {{ with $field := .Field "Fields" }}
                            <input type="hidden" name="{{ $field.Name }}" value="{{ $match.FieldsToString }}">
                        {{ end }}
                    </div>
                </div>

            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}