{{ define "index" }}

{{ .Set "header-title" "首页" }}
{{ .Set "sidebar-menu" "project-overview" }}

{{ template "shared/_header" . }}

<div class="layout-container">

  {{ template "shared/_top_navbar" . }}

  {{ template "shared/_sidebar" . }}

  <!-- Main section-->
  <main class="main-container">

    <!-- Page content-->
    <section>
      <div class="content-heading bg-white">
        <div class="row">
          <div class="col-sm-9">
            <h5 class="m0 text-thin">颅脑外伤数据工具库</h5>
{{/*            <small>Multicenter Arteriovenous malformation Treatment</small>*/}}
{{/*            //英文未改*/}}
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6 col-lg-3">
            <div class="card bg-primary">
              <div class="card-body pv">
                <div class="clearfix">
                  <h5 class="m0 text-thin mb-sm">病例收集</h5>
{{/*                  <small class="m0 text-muted"><em class="mr-sm ion-calendar"></em>2017年9月 - 2018年3月</small>*/}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-3">
            <div class="card">
              <div class="card-body pv">
                <div class="clearfix">
                  <h5 class="m0 text-thin mb-sm">阶段汇总</h5>
{{/*                  <small class="m0 text-muted"><em class="mr-sm ion-calendar"></em>2018年3月 - 2018年6月</small>*/}}
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-lg-3">
            <div class="card">
              <div class="card-body pv">
                <div class="clearfix">
                  <h5 class="m0 text-thin mb-sm">随 访</h5>
{{/*                  <small class="m0 text-muted"><em class="mr-sm ion-calendar"></em>2018年3月 - 2018年6月</small>*/}}
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-lg-3">
            <div class="card">
              <div class="card-body pv">
                <div class="clearfix">
                  <h5 class="m0 text-thin mb-sm">结 题</h5>
{{/*                  <small class="m0 text-muted"><em class="mr-sm ion-calendar"></em>2018年6月 - 2018年12月</small>*/}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-heading">
                <div class="card-title">干预方式</div>
              </div>
              <div class="card-body">
                <div id="pie-intervention" class="flot-chart flot-chart-lg" style="height:295px"></div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <div class="card-heading">
                <div class="card-title">年龄分布</div>
              </div>
              <div class="card-body">
                <div id="js-bar-ages" class="flot-chart flot-chart-md" style="height:295px"></div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <div class="card-heading">
                <div class="card-title">性 别</div>
              </div>
              <div class="card-body">
                <div id="pie-flotchart" class="flot-chart flot-chart-lg" style="height:295px"></div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="card">
              <div class="card-heading">
                <div class="card-title">出院后去向</div>
              </div>
              <div class="card-body">
                <div id="pie-leave-hospital" class="flot-chart flot-chart-lg" style="height:295px"></div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-heading">
                <div class="card-title">Ranking 评分</div>
              </div>
              <div class="card-body">
                <div id="pie-ranking" class="flot-chart flot-chart-lg" style="height:295px"></div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-heading">
                <div class="card-title">生活质量</div>
              </div>
              <div class="card-body">
                <div id="pie-life-quality" data-height="295" class="flot-chart flot-chart-md"></div>
              </div>
            </div>
          </div>


        </div>

{{/*        <div class="row">*/}}
{{/*          <div class="col-md-12">*/}}
{{/*            <div class="card">*/}}

{{/*              <div class="row">*/}}
{{/*                <div class="col-md-9">*/}}
{{/*                  <div class="card-heading">*/}}
{{/*                    <div class="card-title">项目总体进展</div>*/}}
{{/*                  </div>*/}}

{{/*                  <div class="card-body">*/}}
{{/*                    <div id="vector-map-cn" class="vector-map"></div>*/}}
{{/*                  </div>*/}}
{{/*                </div>*/}}

{{/*                <div class="col-md-3">*/}}
{{/*                  <div class="card-body">*/}}
{{/*                    <li class="list-group-item"><span>北京</span><span class="badge badge-xs bg-green-500">15</span></li>*/}}
{{/*                    <li class="list-group-item"><span>上海</span><span class="badge badge-xs bg-pink-500">9</span></li>*/}}
{{/*                    <li class="list-group-item"><span>深圳</span><span class="badge badge-xs bg-purple-500">3</span></li>*/}}
{{/*                    <li class="list-group-item"><span>广州</span><span class="badge badge-xs bg-blue-500">25</span></li>*/}}
{{/*                    <li class="list-group-item"><span>杭州</span><span class="badge badge-xs bg-blue-500">25</span></li>*/}}
{{/*                    <li class="list-group-item"><span>南京</span><span class="badge badge-xs bg-blue-500">25</span></li>*/}}
{{/*                    <li class="list-group-item"><span>西安</span><span class="badge badge-xs bg-green-500">15</span></li>*/}}
{{/*                  </div>*/}}
{{/*                </div>*/}}
{{/*              </div>*/}}
{{/*            </div>*/}}
{{/*          </div>*/}}
{{/*        </div>*/}}

      </div>
    </section>

    {{ template "shared/_bottom_info" }}

  </main>
</div>

<script>
  document.Stat = {{.Data}};
</script>

{{ template "shared/_footer" }}

{{ end }}