{{ define "auth/login" }}
    {{ template "shared/_header" }}

    <div class="layout-container">
        <div class="page-container bg-blue-grey-900">
          <div class="container-full">
            <div class="container container-xs"><img src="/assets/img/logo.png" class="mv-lg block-center img-responsive thumb64">

              <form action="/login" method="POST" name="loginForm" class="card b0 form-validate">
                <div class="card-offset pb0">
                  <!-- <div class="card-offset-item text-right"><a href="/signup" class="btn-raised btn btn-info btn-circle btn-lg"><em class="ion-person-add"></em></a></div> -->
                  <div class="card-offset-item text-right hidden">
                    <div class="btn btn-success btn-circle btn-lg"><em class="ion-checkmark-round"></em></div>
                  </div>
                </div>
                <div class="card-heading">
                  <div class="card-title text-center">账号登录</div>
                </div>
                <div class="card-body">

                  {{ template "shared/_alert" . }}

                  {{ with $field := .Field "mobile" }}
                    <div class="mda-form-group float-label mda-input-group">
                        <div class="mda-form-control {{ .ErrClass }}">
                          <input name="{{ $field.Name }}" class="form-control {{if $field.Param}}has-value{{end}}" value="{{ $field.Param }}">
                          <div class="mda-form-control-line"></div>
                          <label class="control-label">手 机</label>
                        </div>
                        {{ with $msg := $field.Error }}
                          <label class="error">{{ $msg }}</label>
                        {{ end }}
                        <span class="mda-input-group-addon"><em class="ion-android-phone-portrait icon-lg"></em></span>
                    </div>
                  {{ end }}

                  {{ with $field := .Field "password" }}
                  <div class="mda-form-group float-label mda-input-group">
                    <div class="mda-form-control {{ .ErrClass }}">
                      <input type="password" name="{{ $field.Name }}" class="form-control {{if $field.Param}}has-value{{end}}" value="{{ $field.Param }}">
                      <div class="mda-form-control-line"></div>
                      <label>密 码</label>
                    </div>
                    {{ with $msg := $field.Error }}
                      <label class="error">{{ $msg }}</label>
                    {{ end }}
                    <span class="mda-input-group-addon"><em class="ion-ios-locked icon-lg"></em></span>
                  </div>
                  {{ end }}

                </div>
{{/*                  <div style="text-align: center" >*/}}
                  <button type="submit" class="btn btn-primary btn-flat" style="font-size: 160%;margin-bottom: 3%" name="login" onclick="return checked_check()">登录</button>
                      <input type="checkbox" id="check_box" style="margin-left: 85%;float: left;margin-top: 6%">
              </form>
{{/*                <form action="/signup" method="post" class="card b0 form-validate" style="margin-top:-6%">*/}}
{{/*                    <button type="submit" class="btn btn-primary btn-flat" style="font-size: 160%;" name="login">注册</button>*/}}
{{/*                </form>*/}}
                <form action="/protocol" method="POST" >
                    <button type="submit" class="btn btn-primary btn-flat" style="color:white;margin-left: 90%;margin-top: -9%">用户协议</button>
                </form>
              <!-- <div class="text-center text-sm"><a href="/recover" class="text-inherit">忘记密码?</a></div> -->
            </div>
          </div>
        </div>
      </div>
<script>
    function checked_check() {
        var c = document.getElementById("check_box");
        if(c.checked){
            // alert("欢迎")
            return true
        }else {
            alert("请阅读并勾选用户协议")
            return false
        }
    }
</script>
    {{ template "shared/_footer" }}
{{ end }}