{{ define "auth/signup" }}
{{ template "shared/_header" }}

<div class="layout-container">
    <div class="page-container bg-blue-grey-900">
      <div class="container-full">
        <div class="container container-xs"><img src="/assets/img/logo.png" class="mv-lg block-center img-responsive thumb64">
          <form id="user-signup" action="" name="createForm" novalidate="" class="card b0 form-validate">
            <div class="card-offset pb0">
              <div class="card-offset-item text-right">
                <div id="form-ok" class="btn btn-success btn-circle btn-lg hidden"><em class="ion-checkmark-round"></em></div>
              </div>
            </div>
            <div class="card-heading">
              <div class="card-title text-center">注册账号</div>
            </div>
            <div class="card-body">
              <div class="mda-form-group float-label mda-input-group">
                <div class="mda-form-control">
                  <input type="email" name="accountName" required="" class="form-control">
                  <div class="mda-form-control-line"></div>
                  <label>手机号</label>
                </div><span class="mda-input-group-addon"><em class="ion-android-phone-portrait icon-lg"></em></span>
              </div>
              <div class="mda-form-group float-label mda-input-group">
                <div class="mda-form-control">
                  <input id="account-password" type="password" name="accountPassword" required="" class="form-control">
                  <div class="mda-form-control-line"></div>
                  <label>密 码</label>
                </div><span class="mda-input-group-addon"><em class="ion-ios-locked icon-lg"></em></span>
              </div>
              <div class="mda-form-group float-label mda-input-group">
                <div class="mda-form-control">
                  <input type="password" name="accountPasswordCheck" required="" class="form-control">
                  <div class="mda-form-control-line"></div>
                  <label>确认密码</label>
                </div><span class="mda-input-group-addon"><em class="ion-ios-locked icon-lg"></em></span>
              </div>
            </div>
            <!-- <button type="submit" class="btn btn-primary btn-flat">确 定</button> -->
            <a href="/" class="btn btn-primary btn-flat">确 定</a>
          </form>
        </div>
      </div>
    </div>
  </div>

{{ template "shared/_footer" }}
{{ end }}