{{ define "survey/_form_text" }}

    {{ $root := .root }}
    {{ $col := .col }}

    {{ with $field := $root.Field $col.Name }}
        <div class="form-group {{ .ErrClass }}">
            {{ with $col.Label }}
                <label>{{ . }}</label> {{if $col.IsRequired}} <span class="text-danger">*</span>{{end}}
            {{ end }}
            <input type="text" class="{{ $col.ClassName }} js-score-count" name="{{ $field.Name }}" value="{{ $col.Value }}" placeholder="{{ $col.Placeholder}}">

            {{ with $msg := $field.Error }}
                <label class="error mb0 mt-sm">{{ $msg }}</label>
            {{ end }}
        </div>
    {{ end }}

{{ end }}


