{{ define "survey/_form_checkbox" }}

{{ $dict := . }}
{{ $root := $dict.root }}
{{ $col := $dict.col }}

{{ with $field := $root.Field $col.Name }}
    <div class="form-group js-{{$col.Name}} {{ .ErrClass }}">
        <div class="js-field-region">
            {{ with $col.Label }}
                <label>{{ . }}</label> {{if $col.IsRequired}} <span class="text-danger">*</span>{{end}}
            {{ end }}

            <div class="checkbox-group ">
                <!-- Inline case -->
                {{ if $col.Inline }}
                    {{ range $col.Options }}
                        {{ $option := . }}
                        <label class="checkbox-inline c-checkbox">
                            <input name="{{ $col.Name }}" value="{{ $option.Value }}" type="checkbox" data-cascade="{{ $option.CascadeName }}"
                                 class="{{ $col.ScoreName }}" {{ if $option.Selected}}checked{{end}}>
                            <span class="ion-checkmark-round"></span> {{ $option.Label }}
                            {{ with $option.TextName }}
                                <input type="text" class="option-text-input {{ if not $option.Selected }}hide{{end}}"
                                    name="{{ $option.TextName }}" value="{{ $option.TextValue }}">
                            {{ end }}
                        </label>

                        {{ with $option.EmbedColumns }}
                            {{ range . }}

                                {{ $embedCol := . }}

                                {{ $dict := dict "root" $root "col" $embedCol }}
                                {{ template "survey/_render_type_embed" $dict }}

                                <script>
                                    var $item = $(".js-{{$embedCol.Name}} .embed-text-input");

                                    if ($item.hasClass("hide")) {
                                        $item.removeClass("hide");

                                        var $parentDiv = $item.closest("div"),
                                            $paragraph = $parentDiv.prevAll(".c-checkbox:first"),
                                            embedStr = "[[" + $item.data("embed") +"]]",
                                            text = $paragraph.html().replace(embedStr, $parentDiv.html());

                                        if ($parentDiv.hasClass("has-error")) {
                                            $paragraph.addClass("has-error");
                                        }

                                        $parentDiv.remove();
                                        $paragraph.html(text);
                                    }
                                </script>
                            {{ end }}
                        {{ end }}

                    {{ end }}

                    {{ range $col.Options }}
                        {{ $option := . }}
                        <!-- Cascading & Option text -->
                        {{ with $option.CascadeColumns }}
                        <div class="row css-cascade {{ $option.CascadeName }}" {{ if not $option.Selected }} style="display:none" {{end}}>
                            <div class='col-xs-offset-1 col-xs-11'>
                                {{ range . }}
                                    {{ $dict := dict "root" $root "col" . }}
                                    {{ template "survey/_render_type" $dict }}
                                {{ end }}
                            </div>
                        </div>
                        {{ end }}
                    {{ end }}

                {{ else }}
                    {{ range $col.Options }}
                        {{ $option := . }}
                        <div class="checkbox c-checkbox">
                            <label>
                                <input name="{{ $col.Name }}" value="{{ $option.Value }}" type="checkbox" data-cascade="{{ $option.CascadeName }}"
                                     class="{{ $col.ScoreName }}" {{ if $option.Selected }}checked{{end}}>
                                <span class="ion-checkmark-round"></span> {{ $option.Label }}
                            </label>

                            {{ with $option.TextName }}
                                <input type="text" class="option-text-input {{ if not $option.Selected }}hide{{end}}"
                                    name="{{ $option.TextName }}" value="{{ $option.TextValue }}">
                            {{ end }}

                            {{ with $option.EmbedColumns }}
                                {{ range . }}

                                    {{ $embedCol := . }}
                                    {{ $dict := dict "root" $root "col" $embedCol }}
                                    {{ template "survey/_render_type_embed" $dict }}

                                    <script>
                                        var $item = $(".js-{{$embedCol.Name}} .embed-text-input");
                                        if ($item.hasClass("hide")) {
                                            $item.removeClass("hide");

                                            var $paragraph = $item.closest(".checkbox").find("label"),
                                                $parentDiv = $item.closest("div"),
                                                embedStr = "[[" + $item.data("embed") +"]]",
                                                text = $paragraph.html().replace(embedStr, $parentDiv.html());

                                            if ($parentDiv.hasClass("has-error")) {
                                                $paragraph.addClass("has-error");
                                            }

                                            $parentDiv.remove();
                                            $paragraph.html(text);
                                        }
                                    </script>
                                {{ end }}
                            {{ end }}
                        </div>

                        <!-- Cascading & Option text -->
                        {{ with $option.CascadeColumns }}
                        <div class="row css-cascade {{ $option.CascadeName }}" {{ if not $option.Selected }} style="display:none" {{end}}>
                            <div class='col-xs-offset-1 col-xs-11'>
                                {{ range . }}
                                    {{ $dict := dict "root" $root "col" . }}
                                    {{ template "survey/_render_type" $dict }}
                                {{ end }}
                            </div>
                        </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>

            {{ with $msg := $field.Error }}
                <label class="error mb0 mt-sm">{{ $msg }}</label>
            {{ end }}
        </div>

    </div>

    <script>
        $('input[name="{{ $col.Name }}"]').on("click", function (e) {
            var cascade = $(this).data("cascade");
            if (cascade) {
                $("." + $(this).data("cascade")).toggle(this.checked);
            }

            var $inlineInput = $(this).closest(".c-checkbox").find(".option-text-input");
            if ($inlineInput) {
                $inlineInput.toggleClass("hide", !this.checked);
            }
        });

    </script>
{{ end }}

{{ end }}