{{ define "survey/_form_textarea" }}

    {{ $root := .root }}
    {{ $col := .col }}

    {{ with $field := $root.Field $col.Name }}
        <div class="form-group {{ .ErrClass }}">
            {{ with $col.Label }}
                <label>{{ . }}</label> {{if $col.IsRequired}} <span class="text-danger">*</span>{{end}}
            {{ end }}
            <textarea type="textarea" class="form-control {{ $col.ClassName }}"
                name="{{ $col.Name }}" placeholder="{{ $col.Placeholder }}">{{ $col.Value }}</textarea>
            {{ with $msg := $field.Error }}
                <label class="error mb0 mt-sm">{{ $msg }}</label>
            {{ end }}
        </div>
    {{ end }}

{{ end }}