{{ define "survey/_form_select" }}

{{ $dict := . }}
{{ $root := $dict.root }}
{{ $col := $dict.col }}

{{ with $field := $root.Field $col.Name }}

    <div class="form-group css-select js-select js-{{$col.Name}} {{ .ErrClass }}">
        {{ with $col.Label }}
            <label>{{ . }}</label> {{if $col.IsRequired}} <span class="text-danger">*</span>{{end}}
        {{ end }}

        <select class="form-control" name="{{$col.Name}}" required>
            <option selected>请选择...</option>
            {{ range $col.Options }}
                {{ $option := . }}
                <option data-cascade="{{$option.CascadeName}}" data-text="{{$option.TextName}}" value="{{$option.Value}}" {{if $option.Selected}}selected{{end}}>{{$option.Label}}</option>
            {{ end }}

        </select>

        {{ range $col.Options }}
            {{ $option := . }}

            <!-- Option text -->
            {{ with $option.TextName }}
                <input type="text" class="form-control js-option-input css-option-input {{$option.TextName}} {{ if not $option.Selected }}hide{{end}}"
                    name="{{ $option.TextName }}" value="{{ $option.TextValue }}">
            {{ end }}

            <!-- Cascading -->
            {{ with $option.CascadeColumns }}
            <div class="row js-cascade css-cascade {{ $option.CascadeName }}" {{ if not $option.Selected }} style="display:none" {{end}}>
                    <div class='col-xs-offset-1 col-xs-11'>
                    {{ range . }}
                        {{ $dict := dict "root" $root "col" . }}
                        {{ template "survey/_render_type" $dict }}
                    {{ end }}
                    </div>
                </div>
            {{ end }}
        {{ end }}

        {{ with $msg := $field.Error }}
            <label class="error mb0 mt-sm">{{ $msg }}</label>
        {{ end }}

    </div>


    <script>
        $(function(){
            // Handle cascading
            $('select[name="{{ $col.Name }}"]').on("change", function (e) {

                var $rootEle = $(this).closest(".js-select"),
                    $cascadedEle = $rootEle.find(".js-cascade"),
                    $textEle = $rootEle.find(".js-option-input");

                if ($cascadedEle.length) {
                    $cascadedEle.hide();
                    var cascadeName = $(this).find("option:selected").data("cascade");
                    $rootEle.find("." + cascadeName).show();
                }

                if ($textEle.length) {
                    $textEle.addClass("hide");
                    var textName = $(this).find("option:selected").data("text");
                    if (textName) {
                        $rootEle.find("." + textName).removeClass("hide");
                    }
                }

            });
        });

    </script>
{{ end }}

{{ end }}