{{ define "survey/_form_number" }}

    {{ $root := .root }}
    {{ $col := .col }}

    {{ with $field := $root.Field $col.Name }}
        <div class="form-group {{ .ErrClass }}">
            {{ with $col.Label }}
                <label>{{ . }}</label> {{if $col.IsRequired}} <span class="text-danger">*</span>{{end}}
            {{ end }}
            <input type="number" class="{{ $col.ClassName }} js-score-count" name="{{ $col.Name }}"
                value="{{ $col.Value }}" min="{{$col.Min}}" max="{{$col.Max}}" step="{{$col.Step}}">

            {{ with $msg := $field.Error }}
                <label class="error mb0 mt-sm">{{ $field.Error  }}</label>
            {{ end }}
        </div>
    {{ end }}


{{ end }}