{{ define "survey/_form_date" }}

    {{ $root := .root }}
    {{ $col := .col }}

    {{ with $field := $root.Field $col.Name }}
    <div class="form-inline">
        <div class="form-group {{ .ErrClass }}">
            {{ with $col.Label }}
                <label>{{ . }}</label> {{if $col.IsRequired}} <span class="text-danger">*</span>{{end}}
            {{ end }}

            <div class="input-group">
                <input type="text" class="{{ $col.DatetimePicker }} form-control {{ $col.ClassName }}" name="{{ $field.Name }}" value="{{ $col.Value }}">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            {{ with $msg := $field.Error }}
                <label class="error mb0 mt-sm">{{ $msg }}</label>
            {{ end }}
        </div>
    </div>
    {{ end }}

{{ end }}