{{ define "survey/_form_paragraph" }}

{{ $dict := . }}
{{ $root := $dict.root }}
{{ $col := $dict.col }}

<div class="form-group {{ $col.ClassName }}">
    <div class="css-paragraph">
        {{ $col.Label }}
    </div>

    {{ with $col.EmbedColumns }}

        {{ range . }}
            {{ $embedCol := . }}

            {{ $dict := dict "root" $root "col" $embedCol }}
            {{ template "survey/_render_type_embed" $dict }}

            <script>
                var $input = $(".js-{{$embedCol.Name}} .embed-text-input"),
                    $paragraph = $input.closest(".form-group").find(".css-paragraph"),
                    $parentDiv = $input.closest("div"),
                    embedStr = "[[" + $input.data("embed") + "]]";

                if ($parentDiv.hasClass("has-error")) {
                    $paragraph.addClass("has-error");
                }

                if ($input.hasClass("hide")){
                    $input.removeClass("hide");

                    var text = $paragraph.html().replace(embedStr, $parentDiv.html());
                    $parentDiv.remove();
                    $paragraph.html(text);
                }

            </script>

        {{ end }}

    {{ end }}
</div>

{{ end }}