{{ define "survey/match_list" }}

{{ $case := .Data.Case }}
{{ $survey := .Data.Survey }}
{{ $surveys := .Data.Surveys }}


<div class="pb-lg">
    <p class="text-center" style="text-align: left">病例编号：</p>
    <p class="text-center" style="text-align: left">&ensp;&ensp;&ensp;&ensp;&ensp;{{ $case.CaseNumb }}</p>
    <p class="text-center" id="time_create" style="text-align: left">创建时间：</p>
    <p class="text-center" style="text-align: left">&ensp;&ensp;&ensp;&ensp;&ensp;{{ $case.PatientName }}</p>
</div>
<div id="js-match-list" class="list-group list-group-unstyle">

    {{ range $surveys }}
        <a href="/cases/{{$case.IdHex}}/{{.SurveyOrMatchIdHex}}" class="js-link-{{.SurveyOrMatchIdHex}} list-group-item">
            <em class="pull-right ion-ios-arrow-forward"></em>
            <span class="pull-left nav-label mr">
                <span class="badge {{.StatusBadgeClass}}"> </span>
            </span>
            {{ .Name }}
        </a>
    {{ end }}
</div>

<script>
    $("#js-match-list a.list-group-item").removeClass("selected");
    var _menu = $(".js-link-"+ {{$survey.SurveyOrMatchIdHex}});
    _menu.addClass("selected");
</script>
{{/*<script>*/}}
{{/*    var time_create = {{ $case.PatientName }}*/}}
{{/*    alert(time_create)*/}}
{{/*</script>*/}}
{{ end }}