{{ define "survey/match_list_old" }}

{{ $case := .Data.Case }}
{{ $survey := .Data.Survey }}


<div class="pb-lg">
    <h5 class="text-center">患者：{{ $case.PatientAcronym }}</h5>
    <p class="text-center">研究编号：{{ $case.Code }}</p>
</div>
<div id="js-match-list" class="list-group list-group-unstyle">
    <a href="/cases/{{$case.IdHex}}/match01" class="js-link-match01 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge {{$survey.Match01.StatusBadgeClass}}"> </span></span>
        01 - 病例信息采集表
    </a>
    <a href="/cases/{{$case.IdHex}}/match02" class="js-link-match02 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge {{$survey.Match02.StatusBadgeClass}}"> </span></span>
        02 - 入排标准筛查表
    </a>
    <a href="/cases/{{$case.IdHex}}/match03" class="js-link-match03 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge {{$survey.Match03.StatusBadgeClass}}"> </span></span>
        03 - 治疗计划分组表
    </a>
    <a class="js-link-match04 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        04 - AVM首次发病情况表
    </a>
    <a class="js-link-match05 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        05 - AVM影像形态资料表
    </a>
    <a class="js-link-match06 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        06 - Rankin评分表
    </a>
    <a class="js-link-match07 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        07 - NIH卒中评分
    </a>
    <a class="js-link-match08 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        08 - 既往疾病史表
    </a>
    <a class="js-link-match09 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        09 - 药物治疗表
    </a>
    <a class="js-link-match10 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        10 - 既往AVM干预治疗表
    </a>
    <a class="js-link-match11 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        11 - SF36生活质量评分
    </a>
    <a class="js-link-match12 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        12 - EuroQoL生存质量表
    </a>
    <a class="js-link-match13 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        13 - 干预治疗表
    </a>
    <a class="js-link-match14 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        14 - 临床访视表
    </a>
    <a class="js-link-match15 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        15 - 不良事件表
    </a>

    {{ $size := len $survey.Match16s }}
    {{ range $index, $value := $survey.Match16s }}
    <a href="/cases/{{$case.IdHex}}/match16/{{$value.Id.Hex}}" class="js-link-match16 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge {{$value.StatusBadgeClass}}"> </span></span>
        16 - 颅内出血评分表 {{ if gt $size 1 }} - {{ tableIndex 1 $index }} {{ end }}
    </a>
    {{ end }}

    <a class="js-link-match17 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        17 - 住院治疗表
    </a>
    <a class="js-link-match18 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        18 - 死亡事件表
    </a>
    <a href="/cases/{{$case.IdHex}}/match19"  class="js-link-match19 list-group-item">
        <em class="pull-right ion-ios-arrow-forward"></em>
        <span class="pull-left nav-label mr"><span class="badge bg-danger"> </span></span>
        19 - 资料上传
    </a>

</div>

{{ with $match := .Get "match" }}
    <script>
        $("#js-match-list a.list-group-item").removeClass("selected");
        var _menu = $(".js-link-"+ {{$match}});
        _menu.addClass("selected");
        // _menu.on("click", function(e){
        //     e.preventDefault();
        // });
    </script>
{{ end }}

{{ end }}