{{ define "survey/_render_type_embed" }}

{{ $dict := . }}
{{ $root := $dict.root }}
{{ $col := $dict.col }}

{{ with $field := $root.Field $col.Name }}
<div class="js-{{$col.Name}} {{.ErrClass}}">

    <!-- Text Type -->
    {{ if $col.IsText }}
        <input type="text" class="embed-text-input hide js-score-count {{ $col.ScoreName }} {{.ErrClass}}" data-embed="{{ $col.EmbedName }}"
            name="{{ $col.Name }}" value="{{ $col.Value }}" placeholder="{{ $col.Placeholder }}">
    <!-- Number Type -->
    {{ else if $col.IsNumber }}
        <input type="number" class="embed-text-input hide js-score-count {{ $col.ScoreName }} {{.ErrClass}}" data-embed="{{ $col.EmbedName }}"
            name="{{ $col.Name }}" value="{{ $col.Value }}" placeholder="{{ $col.Placeholder }}">
        <!-- Date Type -->
    {{ else if $col.IsDate }}
        <input type="date" class="embed-text-input hide {{ $col.ScoreName }} {{.ErrClass}}" data-embed="{{ $col.EmbedName }}"
            name="{{ $col.Name }}" value="{{ $col.Value }}" >
    {{ end }}

    {{ with $msg := $field.Error }}
        <label class="error mb0 mt-sm css-embed-input-error"><small>（{{ $field.Error  }}）</small></label>
    {{ end }}
</div>
{{ end }}

    <!-- Handle the score calculation -->
    {{ template "survey/_js_autocount" $col }}

{{ end }}
