{{ define "survey/_render_form" }}

{{ $dict := . }}

{{ $root := $dict.root }}
{{ $survey := $dict.survey }}


<!-- Sections -->
{{ range $survey.Sections }}
    {{ $section := . }}
    <!-- Rows -->
    {{ range $section.Rows }}
        {{ $row := . }}
        <div class="row">

        <!-- Column -->
        {{ range $row.Columns }}

            <div class='{{ $row.ColumnClass "sm" }}'>

                {{ $dict := dict "root" $root "col" . }}
                {{ template "survey/_render_type" $dict }}

            </div>
        {{ end }}
        </div>

    {{ end }}

{{ end }}

{{ end }}

