{{ define "survey/show_pdf" }}

{{ template "shared/_header" . }}

{{ $root := . }}
{{ $case := .Data.Case }}
{{ $surveys := .Data.Surveys }}

<style>
    html, body {
        background-color: white;
    }


    #css-survey-section .form-group {
            margin-bottom: 5px;
        }
        .container-fluid {
            padding: 0 15px 15px 15px;
        }

    .new-page {
            page-break-before: always;
        }
</style>

<div class="layout-container">

        <section id="css-survey-section">

            <div class="container-fluid">

                {{ range $index, $survey := $surveys }}

                    <div class="row {{ if ne $index 0 }}new-page{{ end }}">
                        <div class="card">
                            <div class="card-heading {{$survey.StatusBadgeClass}}">
                                <div class="card-title text-center">{{ $survey.MatchName }}</div>
                            </div>

                            <div class="card-body">
                                {{ $dict := dict "root" $root "survey" $survey }}
                                {{ template "survey/_render_form" $dict }}
                            </div>

                        </div>
                    </div>

                {{ end }}

            </div>

        </section>

</div>



{{ template "shared/_footer" }}
{{ end }}