{{ define "survey/show_match19" }}

{{ .Set "header-title" "资料上传" }}
{{ .Set "sidebar-menu" "case-list" }}
{{ .Set "match" "match19" }}

{{ template "shared/_header" . }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section id="js-match19">
            <ul class="breadcrumb breadcrumb-lead mb0">
                <li><a href="/cases">病例列表</a></li>
                <li class="active"><span>病例详情</span></li>
            </ul>
            <div class="container-fluid">
                <div class="row fh">
                    <div class="col-md-3 fh pl0">
                        {{ template "survey/match_list" . }}
                    </div>

                    <div class="col-md-9 fh pl0">
                        {{ template "shared/_alert" . }}

                        <div class="card">

                            <div class="card-heading bg-danger">
                                <div class="pull-right"><em class="ion-ios-browsers-outline icon-2x va-top"></em></div>
                                <div class="card-title text-center">资料上传</div>
                            </div>
                            <div class="card-body mt">
                                <div id="dropzone-area" action="#" class="dropzone css-dropzone">
                                    <div class="dropzone-previews"></div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary js-file-upload">上 传</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>

</div>

{{ template "shared/_footer" }}

{{ end }}