{{ define "survey/show_match03" }}

{{ .Set "header-title" "病例详情" }}
{{ .Set "sidebar-menu" "case-list" }}
{{ .Set "match" "match03" }}

{{ template "shared/_header" . }}

{{ $root := . }}
{{ $case := .Data.Case }}
{{ $patient := $case.Patient }}
{{ $survey := .Data.Survey }}
{{ $match := .Data.Survey.Match03 }}
{{ $org := .Data.Org }}


<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section id="js-match03">
            <ul class="breadcrumb breadcrumb-lead mb0">
                <li><a href="/cases">病例列表</a></li>
                <li class="active"><span>病例详情</span></li>
            </ul>
            <div class="container-fluid">
                <div class="row fh">
                    <div class="col-md-3 fh pl0">
                       {{ template "survey/match_list" . }}
                    </div>
                    <div class="col-md-9 fh pl0">

                        {{ template "shared/_alert" . }}

                        <div class="card">
                            <form method="post" class="js-action-form form-horizontal">
                                <div class="card-heading {{$survey.Match03.StatusBadgeClass}}">
                                    <div class="pull-right"><em class="ion-ios-browsers-outline icon-2x va-top"></em></div>
                                    <div class="card-title text-center">治疗计划分组表</div>
                                </div>
                                <div class="card-body mt">


                                    <fieldset>
                                        {{ with $field := .Field "caseCode" }}
                                        <div class="form-group {{ .ErrClass }}">
                                            <label class="col-sm-2 control-label">患者研究编号</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="{{ $field.Name }}" class="form-control"
                                                    value="{{ firstof $field.Param $case.Code }}">
                                            </div>
                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        {{ with $field := .Field "plannedAtStr" }}
                                        {{ $value := firstof $field.Param $match.PlannedAtStr }}
                                        <div class="form-group {{ .ErrClass }}">
                                            <label class="col-sm-2 control-label">计划制定日期：</label>
                                            <div class="col-sm-9 ui-datepicker ui-datepicker-popup dp-theme-primary">
                                                <div class="input-group">
                                                    <input type="text" name="{{ $field.Name }}" class="js-plannedAt form-control"
                                                        value="{{ $value }}">
                                                    <span class="input-group-addon ion-ios-calendar-outline"></span>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        {{ with $field := .Field "clinicalCenter" }}
                                        {{ $value := firstof $field.Param $match.ClinicalCenter }}
                                        <div class="form-group {{ .ErrClass }}">
                                            <div class="col-sm-10 col-sm-offset-1">
                                                <label class="control-label">1. 临床中心名称：</label>
                                                <input type="text" name="{{ $field.Name }}" class="form-control"
                                                    value="{{ $value }}">
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            {{ with $field := .Field "malformOption" }}
                                            {{ $value := firstof $field.Param $match.MalformOption }}
                                            <div class="js-malformOption col-sm-10 col-sm-offset-1 {{ .ErrClass }}">
                                                <label class="control-label">2. 动静脉畸形为：</label>
                                                <div class="row">
                                                    <div class="col-xs-5 col-sm-4">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 破裂动静脉畸形
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-5 col-sm-4">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 未破裂动静脉畸形
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                            <script>
                                                $(".js-malformOption").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                            </script>
                                            {{ end }}
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            {{ with $field := .Field "plannerOption" }}
                                            {{ $value := firstof $field.Param $match.PlannerOption }}
                                            <div class="js-plannerOption col-sm-10 col-sm-offset-1 {{ .ErrClass }}">
                                                <label class="control-label">3. 治疗计划制定者（只选最贴近的一项）：</label>

                                                <div class="radio c-radio">
                                                    <label>
                                                        <input type="radio" name="{{ $field.Name }}" value="1" >
                                                        <span class="ion-record"></span> 神经外科医生
                                                    </label>
                                                </div>
                                                <div class="radio c-radio">
                                                    <label>
                                                        <input type="radio" name="{{ $field.Name }}" value="2" >
                                                        <span class="ion-record"></span> 神经内科医生
                                                    </label>
                                                </div>
                                                <div class="radio c-radio">
                                                    <label>
                                                        <input type="radio" name="{{ $field.Name }}" value="3" >
                                                        <span class="ion-record"></span> 神经介入科医生
                                                    </label>
                                                </div>
                                                <div class="radio c-radio">
                                                    <label>
                                                        <input type="radio" name="{{ $field.Name }}" value="4" >
                                                        <span class="ion-record"></span> 伽玛刀治疗中心医生
                                                    </label>
                                                </div>
                                                <div class="radio c-radio">
                                                    <label>
                                                        <input type="radio" name="{{ $field.Name }}" value="5" >
                                                        <span class="ion-record"></span> 学科会诊团队
                                                    </label>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                            <script>
                                                $(".js-plannerOption").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                            </script>
                                            {{ end }}
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            {{ with $field := .Field "isAVMConfirmed" }}
                                            {{ $value := firstof $field.Param $match.IsAVMConfirmed }}
                                            <div class="js-isAVMConfirmed col-sm-10 col-sm-offset-1 {{ .ErrClass }}">
                                                <label class="control-label">4. AVM外科治疗指证是否明确：</label>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1" >
                                                            <span class="ion-record"></span> 是
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2" >
                                                            <span class="ion-record"></span> 否
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>

                                            <script>
                                                $(".js-isAVMConfirmed").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                            </script>
                                            {{ end }}

                                            {{ with $field := .Field "AVMReason"  }}
                                            {{ $value := firstof $field.Param $match.AVMReason }}
                                            <div class="col-sm-10 col-sm-offset-1 mt {{ .ErrClass }}">
                                                <span class="help-block">请简要总结一下您认定的指证：</span>
                                                <textarea class="form-control" rows="2" name="{{ $field.Name }}">{{$value}}</textarea>
                                            </div>
                                            {{ end }}
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            {{ with $field := .Field "isConsidered" }}
                                            {{ $value := firstof $field.Param $match.IsConsidered }}
                                            <div class="js-isConsidered col-sm-10 col-sm-offset-1 {{ .ErrClass }}">
                                                <label class="control-label">5. 是否考虑复合外科治疗：</label>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1" >
                                                            <span class="ion-record"></span> 是
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2" >
                                                            <span class="ion-record"></span> 否
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                                <script>
                                                    $(".js-isConsidered").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                                </script>
                                            </div>
                                            {{ end }}

                                            {{ with $field := .Field "consideredReason"  }}
                                            {{ $value := firstof $field.Param $match.ConsideredReason }}
                                            <div class="col-sm-10 col-sm-offset-1 mt {{ .ErrClass }}">
                                                <span class="help-block">请简要总结一下您决定的理由：</span>
                                                <textarea class="form-control" rows="2" name="{{ $field.Name }}">{{$value}}</textarea>
                                            </div>
                                            {{ end }}
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            {{ with $field := .Field "isAccepted" }}
                                            {{ $value := firstof $field.Param $match.IsAccepted }}
                                            <div class="js-isAccepted col-sm-10 col-sm-offset-1 {{ .ErrClass }}">
                                                <label class="control-label">6. 患者是否接受治疗风险：</label>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1" >
                                                            <span class="ion-record"></span> 接受
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2" >
                                                            <span class="ion-record"></span> 不接受
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                                <script>
                                                    $(".js-isAccepted").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                                </script>
                                            </div>
                                            {{ end }}

                                            {{ with $field := .Field "solutionOption" }}
                                            {{ $value := firstof $field.Param $match.SolutionOption }}
                                            <div class=" col-sm-10 col-sm-offset-1 mt-lg">
                                                <div class="js-solutionOption  {{ .ErrClass }}">
                                                    <label class="control-label">7. 治疗方案：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1" >
                                                            <span class="ion-record"></span> 保守/药物治疗
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="2" >
                                                            <span class="ion-record"></span> 外科治疗
                                                        </label>
                                                    </div>
                                                </div>
                                                <script>
                                                    $(".js-solutionOption").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                                </script>
                                            {{ end }}

                                                <div class="row">
                                                    {{ with $field := .Field "surgeryOption" }}
                                                    {{ $value := firstof $field.Param $match.SurgeryOption }}
                                                    <div class="js-surgeryOption col-sm-10 col-sm-offset-1 {{ .ErrClass }}">
                                                        <div class="radio c-radio">
                                                            <label>
                                                                <input type="radio" name="{{ $field.Name }}" value="1" >
                                                                <span class="ion-record"></span> 单纯手术切除
                                                            </label>
                                                        </div>
                                                        <div class="radio c-radio">
                                                            <label>
                                                                <input type="radio" name="{{ $field.Name }}" value="2" >
                                                                <span class="ion-record"></span> 单纯立体定向放射治疗
                                                            </label>
                                                        </div>
                                                        <div class="radio c-radio">
                                                            <label>
                                                                <input type="radio" name="{{ $field.Name }}" value="3" >
                                                                <span class="ion-record"></span> 单纯介入栓塞治疗
                                                            </label>
                                                        </div>
                                                        <div class="radio c-radio">
                                                            <label>
                                                                <input type="radio" name="{{ $field.Name }}" value="4" >
                                                                <span class="ion-record"></span> 术前辅助栓塞+手术切除
                                                            </label>
                                                        </div>
                                                        <div class="radio c-radio">
                                                            <label>
                                                                <input type="radio" name="{{ $field.Name }}" value="5" >
                                                                <span class="ion-record"></span> 术前辅助栓塞+立体定向放射治疗
                                                            </label>
                                                        </div>
                                                        <div class="radio c-radio">
                                                            <label>
                                                                <input type="radio" name="{{ $field.Name }}" value="6" >
                                                                <span class="ion-record"></span> 立体定向放射+手术切除
                                                            </label>
                                                        </div>
                                                        <div class="radio c-radio">
                                                            <label>
                                                                <input type="radio" name="{{ $field.Name }}" value="7" >
                                                                <span class="ion-record"></span> 立体定向放射+介入栓塞
                                                            </label>
                                                        </div>
                                                        <div class="radio c-radio">
                                                            <label>
                                                                <input type="radio" name="{{ $field.Name }}" value="8" >
                                                                <span class="ion-record"></span> 手术切除+立体定向放射
                                                            </label>
                                                        </div>
                                                        <div class="radio c-radio">
                                                            <label>
                                                                <input type="radio" name="{{ $field.Name }}" value="9" >
                                                                <span class="ion-record"></span> 手术切除+介入栓塞
                                                            </label>
                                                        </div>
                                                        <div class="radio c-radio">
                                                            <label>
                                                                <input type="radio" name="{{ $field.Name }}" value="10" >
                                                                <span class="ion-record"></span> 三种方式联合（请简述）：
                                                            </label>
                                                        </div>

                                                        {{ with $field2 := $root.Field "unionDesc"  }}
                                                        {{ $value := firstof $field2.Param $match.UnionDesc }}
                                                        <div class="{{ .ErrClass }} mt-sm">
                                                            <textarea class="form-control" rows="2" name="{{ $field2.Name }}">{{$value}}</textarea>
                                                            {{ with $msg := $field2.Error }}
                                                                <label class="error mb0 mt">{{ $msg }}</label>
                                                            {{ end }}
                                                        </div>
                                                        {{ end }}


                                                        {{ with $msg := $field.Error }}
                                                            <label class="error mb0 mt">{{ $msg }}</label>
                                                        {{ end }}

                                                    </div>
                                                    <script>
                                                        $(".js-surgeryOption").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                                    </script>
                                                    {{ end }}
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            {{ with $field := .Field "isfractionated" }}
                                            {{ $value := firstof $field.Param $match.Isfractionated }}
                                            <div class="js-isfractionated col-sm-10 col-sm-offset-1 {{ .ErrClass }}">
                                                <label class="control-label">8. 分次治疗：</label>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 是
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 否
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                            <script>
                                                $(".js-isfractionated").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                            </script>
                                            {{ end }}

                                            {{ with $field := .Field "fractionatedDesc"  }}
                                            {{ $value := firstof $field.Param $match.FractionatedDesc }}
                                                <div class="col-sm-10 col-sm-offset-1 mt {{.ErrClass}}">
                                                    <span class="help-block">请详述：</span>
                                                    <textarea class="form-control" rows="2" name="{{ $field.Name }}">{{$value}}</textarea>
                                                </div>
                                            {{ end }}
                                        </div>
                                    </fieldset>


                                    <fieldset>
                                        <div class="form-group mb">
                                            {{ with $field := .Field "summary"  }}
                                            {{ $value := firstof $field.Param $match.Summary }}
                                            <div class="col-sm-10 col-sm-offset-1 {{ .ErrClass }}">
                                                <label class="control-label">9. 简述（对治疗方案，如是否联合辅助技术，治疗特点、治疗目的以及原因进行叙述）</label>
                                                <textarea class="form-control" rows="2" name="{{ $field.Name }}">{{$value}}</textarea>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                            {{ end }}
                                        </div>
                                    </fieldset>

                                        <!-- <fieldset>
                                            <div class="form-group mb">
                                                <div class="col-sm-5 col-sm-offset-1">
                                                    <label class="control-label">填写人姓名：</label>
                                                    <input type="text" class="form-control mt-sm" value="{{ .Me.Name }}">
                                                </div>

                                                <div class="col-sm-5">
                                                    <label class="control-label">日期：</label>
                                                    <input type="text" class="form-control mt-sm">
                                                </div>
                                            </div>
                                        </fieldset> -->
                                </div>
                                <div class="card-footer pt-xl pb-xl">
                                    <div class="row">
                                        <div class="text-center col-sm-10 col-sm-offset-1">
                                            {{ if not $match.IsStatusFinished }}
                                            <button type="button" data-url="/cases/{{$case.IdHex}}/match03/draft" class="js-action-btn btn btn-warning pull-left">暂 存</button>
                                            {{ end }}
                                            <!-- <button type="button" class="btn btn-default">清除重填</button> -->
                                            <button type="button" data-url="/cases/{{$case.IdHex}}/match03" class="js-action-btn btn btn-info pull-right">确 认</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}