{{ define "survey/show_match16" }}

{{ .Set "header-title" "病例详情" }}
{{ .Set "sidebar-menu" "case-list" }}
{{ .Set "match" "match16" }}

{{ template "shared/_header" . }}

{{ $root := . }}
{{ $case := .Data.Case }}
{{ $patient := $case.Patient }}
{{ $survey := .Data.Survey }}
{{ $match := .Data.Match }}
{{ $org := .Data.Org }}


<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section id="js-match16">
            <div class="row bg-white">
                <div class="col-xs-6">
                    <ul class="breadcrumb breadcrumb-lead mb0">
                        <li><a href="/cases">病例列表</a></li>
                        <li class="active"><span>病例详情</span></li>
                    </ul>
                </div>
                <div class="col-xs-6 text-right">

                    <form method="post" class="js-action-form">
                        <button type="button" data-url="/cases/{{$case.IdHex}}/match16/new" class="js-action-btn btn btn-labeled btn-primary ripple mt mr-lg">
                            <span class="btn-label"><i class="ion-plus"></i></span>新建评分表<span class="md-ripple"></span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="container-fluid">

                <div class="row fh">
                    <div class="col-md-3 fh pl0">
                       {{ template "survey/match_list" . }}
                    </div>
                    <div class="col-md-9 fh pl0">

                        {{ template "shared/_alert" . }}

                        <div class="card">
                            <div class="card-heading {{$match.StatusBadgeClass}}">
                                <div class="pull-right"><em class="ion-ios-browsers-outline icon-2x va-top"></em></div>
                                <div class="card-title text-center">颅内出血评分表</div>
                            </div>
                            <form method="post" class="js-action-form form-horizontal">
                                {{ with $field := .Field "Id" }}
                                    <input type="hidden" name="{{ $field.Name }}" value="{{ $match.Id.Hex }}">
                                    {{ with $msg := $field.Error }}
                                        <label class="error mb0 mt">{{ $msg }}</label>
                                    {{ end }}
                                {{ end }}

                                <div class="card-body mt">
                                    {{ with $field := .Field "caseCode" }}
                                    <div class="form-group {{ .ErrClass }}">
                                        <label class="col-sm-2 control-label">患者研究编号</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="{{ $field.Name }}" class="form-control"
                                                value="{{ firstof $field.Param $case.Code }}">
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>


                                <div class="js-card-section">
                                    {{ with $field := .Field "ICHDisabled" }}
                                    {{ $value := firstof $field.Param $match.ICHDisabled }}
                                    <div class="card-heading bg-light-blue-50">
                                        <div class="pull-right"><em class="ion-ios-calculator-outline icon-2x va-top"></em></div>
                                        <div class="text-center">
                                            <div>
                                                <strong>ICH 评分</strong>
                                            </div>
                                            <div class="checkbox c-checkbox mt-sm">
                                                <label>
                                                    <input type="checkbox" name="{{ $field.Name }}" value="1"
                                                        class="js-display-check" {{ if $value }}checked{{ end }}>
                                                        <span class="ion-checkmark-round"></span> 无脑内出血
                                                </label>
                                            </div>
                                            <div class="mt js-match16-score" {{if $value}}style="display:none"{{end}}>

                                            {{ with $field := $root.Field "ICHScore" }}
                                            {{ $value := firstof $field.Param $match.ICHScore }}
                                                总分（自动计算）：<strong class="text-danger">{{ $value }}</strong>

                                                <input type="hidden" name="ICHScore" value="{{ $value }}">
                                            {{ end }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body mt" {{if $value}}style="display:none"{{end}} >
                                    {{ end }}

                                        <fieldset>
                                            <div class="form-group">
                                                {{ with $field := .Field "GCS" }}
                                                {{ $value := firstof $field.Param $match.GCS }}
                                                <div class="js-{{ $field.Name }} col-sm-5 col-sm-offset-1 {{ .ErrClass }} ">
                                                    <label class="control-label">GCS 评分：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 2分 GCS 3-4
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 GCS 5-12
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="0">
                                                            <span class="ion-record"></span> 0分 GCS 13-15
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}

                                                {{ with $field := .Field "EyeResp" }}
                                                {{ $value := firstof $field.Param $match.EyeResp }}
                                                <div class="js-{{ $field.Name }} col-sm-5 {{ .ErrClass }}">
                                                    <label class="control-label">睁眼反应：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="4">
                                                            <span class="ion-record"></span> 4分 自然睁眼
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="3">
                                                            <span class="ion-record"></span> 3分 呼唤睁眼
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 2分 刺痛睁眼
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 刺激无反应
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}
                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <div class="form-group">
                                                {{ with $field := .Field "LangResp" }}
                                                {{ $value := firstof $field.Param $match.LangResp }}
                                                <div class="js-{{ $field.Name }} col-sm-5 col-sm-offset-1 {{ .ErrClass }}">
                                                    <label class="control-label">语言反应：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="5">
                                                            <span class="ion-record"></span> 5分 回答正确
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="4">
                                                            <span class="ion-record"></span> 4分 回答错误
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="3">
                                                            <span class="ion-record"></span> 3分 可说出单字
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 2分 可发出声音
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 无任何反应
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}

                                                {{ with $field := .Field "BodyResp" }}
                                                {{ $value := firstof $field.Param $match.BodyResp }}
                                                <div class="js-{{ $field.Name }} col-sm-5 {{ .ErrClass }}">
                                                    <label class="control-label">肢体动作：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="6">
                                                            <span class="ion-record"></span> 6分 遵嘱动作
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="5">
                                                            <span class="ion-record"></span> 5分 定位动作
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="4">
                                                            <span class="ion-record"></span> 4分 刺痛回缩
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="3">
                                                            <span class="ion-record"></span> 3分 疼痛屈曲
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 2分 刺激强直
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 无任何反应
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}
                                            </div>

                                        </fieldset>

                                        <fieldset>
                                            <div class="form-group">
                                                {{ with $field := .Field "HematomaVol" }}
                                                {{ $value := firstof $field.Param $match.HematomaVol }}
                                                <div class="js-{{ $field.Name }} col-sm-5 col-sm-offset-1 {{ .ErrClass }}">
                                                    <label class="control-label">血肿量：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 ≥30ml
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="0">
                                                            <span class="ion-record"></span> 0分 <30ml
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}

                                                {{ with $field := .Field "HematomaIn" }}
                                                {{ $value := firstof $field.Param $match.HematomaIn }}
                                                <div class="js-{{ $field.Name }} col-sm-5 {{ .ErrClass }} ">
                                                    <label class="control-label">血肿破入脑室：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 是
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="0">
                                                            <span class="ion-record"></span> 0分 否
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}
                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <div class="form-group">
                                                {{ with $field := .Field "HematomaFrom" }}
                                                {{ $value := firstof $field.Param $match.HematomaFrom }}
                                                <div class="js-{{ $field.Name }} col-sm-5 col-sm-offset-1 {{ .ErrClass }} ">
                                                    <label class="control-label">血肿源自幕下：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 是
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="0">
                                                            <span class="ion-record"></span> 0分 否
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}

                                                {{ with $field := .Field "AgeScore" }}
                                                {{ $value := firstof $field.Param $match.AgeScore }}
                                                <div class="js-{{ $field.Name }} col-sm-5 {{ .ErrClass }} ">
                                                    <label class="control-label">患者年龄评分：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 ≥80岁
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="0">
                                                            <span class="ion-record"></span> 0分 <80岁
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}
                                            </div>
                                        </fieldset>

                                    </div>
                                </div>

                                <div class="js-card-section">
                                    {{ with $field := .Field "GraebDisabled" }}
                                    {{ $value := firstof $field.Param $match.GraebDisabled }}
                                    <div class="card-heading bg-light-blue-50">
                                        <div class="pull-right"><em class="ion-ios-calculator-outline icon-2x va-top"></em></div>
                                        <div class="text-center">
                                            <div>
                                                <strong>Graeb 评分</strong>
                                            </div>
                                            <div class="checkbox c-checkbox mt-sm">
                                                <label>
                                                    <input type="checkbox" value="1" name="{{ $field.Name }}"
                                                        class="js-display-check" {{if $value }}checked{{end}}>
                                                        <span class="ion-checkmark-round"></span> 无脑内出血
                                                </label>
                                            </div>


                                            <div class="mt js-match16-score" {{if $value}}style="display:none"{{end}}>
                                            {{ with $field := $root.Field "GraebScore" }}
                                            {{ $value := firstof $field.Param $match.GraebScore }}
                                                总分（自动计算）：<strong class="text-danger">{{ $value }}</strong>
                                                <input type="hidden" name="GraebScore" value="{{ $value }}">
                                            {{ end }}
                                            </div>

                                        </div>
                                    </div>

                                    <div class="card-body mt" {{if $value}}style="display:none"{{end}}>
                                    {{ end }}

                                        <fieldset>
                                            <div class="form-group">
                                                {{ with $field := .Field "LeftBrain" }}
                                                {{ $value := firstof $field.Param $match.LeftBrain  }}
                                                <div class="js-{{ $field.Name }} col-sm-5 col-sm-offset-1 {{ .ErrClass }}">
                                                <label class="control-label">左侧脑室：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 有微量或少量出血
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label >
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 2分 出血少于脑室的一半
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="3">
                                                            <span class="ion-record"></span> 3分 出血大于脑室的一半
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="4">
                                                            <span class="ion-record"></span> 4分 出血充满脑室并扩大
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}

                                                {{ with $field := .Field "RightBrain" }}
                                                {{ $value := firstof $field.Param $match.RightBrain }}
                                                <div class="js-{{ $field.Name }} col-sm-5 {{ .ErrClass }}">
                                                    <label class="control-label">右侧脑室：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 有微量或少量出血
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label >
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 2分 出血少于脑室的一半
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="3">
                                                            <span class="ion-record"></span> 3分 出血大于脑室的一半
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="4">
                                                            <span class="ion-record"></span> 4分 出血充满脑室并扩大
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}
                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <div class="form-group">
                                                {{ with $field := .Field "ThirdBrain" }}
                                                {{ $value := firstof $field.Param $match.ThirdBrain }}
                                                <div class="js-{{ $field.Name }} col-sm-5 col-sm-offset-1 {{ .ErrClass }}">
                                                    <label class="control-label">第三脑室：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 有微量或少量出血
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label >
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 2分 出血充满脑室并扩大
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}

                                                {{ with $field := .Field "FourthBrain" }}
                                                {{ $value := firstof $field.Param $match.FourthBrain }}
                                                <div class="js-{{ $field.Name }} col-sm-5 {{ .ErrClass }}">
                                                    <label class="control-label">第四脑室：</label>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 1分 有微量或少量出血
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label >
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 2分 出血充满脑室并扩大
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="js-card-section">
                                    {{ with $field := .Field "HuntHessDisabled" }}
                                    {{ $value := firstof $field.Param $match.HuntHessDisabled }}
                                    <div class="card-heading bg-light-blue-50">
                                        <div class="pull-right"><em class="ion-ios-calculator-outline icon-2x va-top"></em></div>
                                        <div class="text-center">
                                            <p><strong>Hunt-Hess 分级</strong></p>
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" name="{{$field.Name}}" value="1"
                                                        class="js-display-check" {{if $value }}checked{{end}}>
                                                        <span class="ion-checkmark-round"></span> 无蛛网膜下腔出血
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body mt" {{if $value}}style="display:none"{{end}}>
                                    {{ end }}

                                        <fieldset>
                                            <div class="form-group">
                                                {{ with $field := .Field "HuntHessLevel" }}
                                                {{ $value := firstof $field.Param $match.HuntHessLevel  }}
                                                <div class="js-{{ $field.Name }} col-sm-10 col-sm-offset-1 {{ .ErrClass }}">
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{$field.Name}}" value="1">
                                                            <span class="ion-record"></span> 1级，无症状或轻微头痛
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{$field.Name}}" value="2">
                                                            <span class="ion-record"></span> 2级，中重度头痛，脑膜刺激征，颅神经麻痹
                                                        </label>
                                                    </div>

                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{$field.Name}}" value="3">
                                                            <span class="ion-record"></span> 3级，嗜睡，意识混乱，轻度局灶神经功能障碍
                                                        </label>
                                                    </div>

                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{$field.Name}}" value="4">
                                                            <span class="ion-record"></span> 4级，昏迷，中重度偏瘫，早期去脑强直或自主神经功能紊乱
                                                        </label>
                                                    </div>

                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{$field.Name}}" value="5">
                                                            <span class="ion-record"></span> 5级，深昏迷，去大脑强直，濒死状态
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                    <script>
                                                        $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                    </script>
                                                </div>
                                                {{ end }}
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="js-card-section">
                                    {{ with $field := .Field "FisherDisabled" }}
                                    {{ $value := firstof $field.Param $match.FisherDisabled }}
                                    <div class="card-heading bg-light-blue-50">
                                        <div class="pull-right"><em class="ion-ios-calculator-outline icon-2x va-top"></em></div>
                                        <div class="text-center">
                                            <p><strong>改良Fisher分级</strong></p>
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" name="{{ $field.Name }}" value="1"
                                                        class="js-display-check" {{if $value }}checked{{end}}>
                                                    <span class="ion-checkmark-round"></span> 无蛛网膜下腔出血
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body mt" {{if $value}}style="display:none"{{end}}>
                                    {{ end }}

                                        <fieldset>
                                            <div class="form-group">
                                                {{ with $field := .Field "FisherLevel" }}
                                                {{ $value := firstof $field.Param $match.FisherLevel  }}
                                                <div class="js-{{ $field.Name }} col-sm-10 col-sm-offset-1 {{ .ErrClass }}">
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{$field.Name}}" value="1">
                                                            <span class="ion-record"></span> 1级，CT未见出血
                                                        </label>
                                                    </div>
                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{$field.Name}}" value="2">
                                                            <span class="ion-record"></span> 2级，CT发现弥散性出血，尚未形成血块
                                                        </label>
                                                    </div>

                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{$field.Name}}" value="3">
                                                            <span class="ion-record"></span> 3级，较厚积血，垂直面上厚度>1mm(大脑纵裂、岛池、环池)或水平面上（侧裂池、脚间池）长*宽>5mm*3mm
                                                        </label>
                                                    </div>

                                                    <div class="radio c-radio">
                                                        <label>
                                                            <input type="radio" name="{{$field.Name}}" value="4">
                                                            <span class="ion-record"></span> 4级，脑室内积血，但基底池内无或有少量弥散性出血
                                                        </label>
                                                    </div>
                                                    {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt">{{ $msg }}</label>
                                                    {{ end }}
                                                </div>
                                                <script>
                                                    $(".js-{{ $field.Name }}").find('input[value="{{ $value }}"]').attr('checked', true);
                                                </script>
                                                {{ end }}
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="card-footer pt-xl pb-xl">
                                        <div class="row">
                                            <div class="text-center col-sm-10 col-sm-offset-1">
                                                {{ if not $match.IsStatusFinished }}
                                                <button type="button" data-url="/cases/{{$case.IdHex}}/match16/{{ $match.Id.Hex }}/draft" class="js-action-btn btn btn-warning pull-left">暂 存</button>
                                                {{ end }}
                                                <!-- <button type="button" class="btn btn-default">清除重填</button> -->
                                                <button type="button" data-url="/cases/{{$case.IdHex}}/match16/{{ $match.Id.Hex }}" class="js-action-btn btn btn-info pull-right">确 认</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}