{{ define "survey/show_template" }}

{{ .Set "header-title" "病例详情" }}
{{ .Set "sidebar-menu" "case-list" }}

{{ template "shared/_header" . }}

{{ $root := . }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <ul class="breadcrumb breadcrumb-lead mb0">
                <li><a href="/cases">病例列表</a></li>
                <li class="active"><span>病例详情</span></li>
            </ul>
            <div class="container-fluid">
                <div class="row fh">
                    <div class="col-md-3 fh pl0">

                    </div>
                    <div class="col-md-9 fh pl0">


                        <div class="card">
                            <div class="card-heading bg-success">
                                <div class="pull-right">
                                    <em class="ion-ios-browsers-outline icon-2x va-top"></em>
                                </div>
                                <div class="card-title text-center">表名字</div>
                            </div>

                            <div class="card-body">
                                <form class="js-ajax-form">
                                    <div class="rendered-form">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="fb-text form-group field-text-1509361141496">
                                                    <label for="text-1509361141496" class="fb-text-label">姓名</label>
                                                    <input type="text" class="form-control" name="text-1509361141496" id="text-1509361141496">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="fb-radio-group form-group field-radio-group-1509361161999">
                                                    <label for="radio-group-1509361161999" class="fb-radio-group-label">性别</label>
                                                    <div class="radio-group">
                                                        <div class="radio-inline">
                                                            <input name="radio-group-1509361161999" id="radio-group-1509361161999-0" value="1" type="radio">
                                                            <label for="radio-group-1509361161999-0">男</label>
                                                        </div>
                                                        <div class="radio-inline">
                                                            <input name="radio-group-1509361161999" id="radio-group-1509361161999-1" value="2" type="radio">
                                                            <label for="radio-group-1509361161999-1">女</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="fb-date form-group field-date-1509361199394">
                                                    <label for="date-1509361199394" class="fb-date-label">出生日期</label>
                                                    <input type="date" class="form-control" name="date-1509361199394" id="date-1509361199394">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="fb-radio-group form-group field-radio-group-1509361235065">
                                                    <label for="radio-group-1509361235065" class="fb-radio-group-label">民族</label>
                                                    <div class="radio-group">
                                                        <div class="radio-inline">
                                                            <input name="radio-group-1509361235065" id="radio-group-1509361235065-0" value="1" type="radio">
                                                            <label for="radio-group-1509361235065-0">汉族</label>
                                                        </div>
                                                        <div class="radio-inline">
                                                            <input name="radio-group-1509361235065" id="radio-group-1509361235065-1" value="2" type="radio">
                                                            <label for="radio-group-1509361235065-1">其他</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="fb-text form-group field-text-1509361334090">
                                                    <label for="text-1509361334090" class="fb-text-label">身份证号</label>
                                                    <input type="text" class="form-control" name="text-1509361334090" id="text-1509361334090">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fb-text form-group field-text-1509361350558">
                                            <label for="text-1509361350558" class="fb-text-label">联系地址</label>
                                            <input type="text" class="form-control" name="text-1509361350558" id="text-1509361350558">
                                        </div>
                                        <div class="fb-text form-group field-text-1509361350707">
                                            <label for="text-1509361350707" class="fb-text-label">近亲属姓名</label>
                                            <input type="text" class="form-control" name="text-1509361350707" id="text-1509361350707">
                                        </div>
                                        <div class="fb-text form-group field-text-1509361379546">
                                            <label for="text-1509361379546" class="fb-text-label">与患者关系</label>
                                            <input type="text" class="form-control" name="text-1509361379546" id="text-1509361379546">
                                        </div>
                                        <div class="fb-text form-group field-text-1509361398906">
                                            <label for="text-1509361398906" class="fb-text-label">联系电话1</label>
                                            <input type="text" class="form-control" name="text-1509361398906" id="text-1509361398906">
                                        </div>
                                        <div class="fb-text form-group field-text-1509361408084">
                                            <label for="text-1509361408084" class="fb-text-label">联系电话2</label>
                                            <input type="text" class="form-control" name="text-1509361408084" id="text-1509361408084">
                                        </div>
                                        <div class="fb-text form-group field-text-1509361420387">
                                            <label for="text-1509361420387" class="fb-text-label">住院号</label>
                                            <input type="text" class="form-control" name="text-1509361420387" id="text-1509361420387">
                                        </div>
                                        <div class="fb-text form-group field-text-1509361429542">
                                            <label for="text-1509361429542" class="fb-text-label">研究编号</label>
                                            <input type="text" class="form-control" name="text-1509361429542" id="text-1509361429542">
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="card-footer pt-xl pb-xl">
                                <div class="row">
                                    <div class="text-center col-sm-10 col-sm-offset-1">
                                        <button type="button" class="js-action-btn btn btn-warning pull-left">暂 存</button>
                                        <button type="button" class="js-ajax-btn btn btn-primary pull-right">确 认</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}