{{ define "survey/show_match01" }}

{{ .Set "header-title" "病例详情" }}
{{ .Set "sidebar-menu" "case-list" }}
{{ .Set "match" "match01" }}

{{ template "shared/_header" . }}

{{ $root := . }}
{{ $case := .Data.Case }}
{{ $patient := $case.Patient }}
{{ $survey := .Data.Survey }}
{{ $match01 := .Data.Survey.Match01 }}
{{ $org := .Data.Org }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <ul class="breadcrumb breadcrumb-lead mb0">
                <li><a href="/cases">病例列表</a></li>
                <li class="active"><span>病例详情</span></li>
            </ul>
            <div class="container-fluid">
                <div class="row fh">
                    <div class="col-md-3 fh pl0">
                       {{ template "survey/match_list" . }}
                    </div>
                    <div class="col-md-9 fh pl0">

                        {{ template "shared/_alert" . }}

                        <div class="card">
                            <form method="post" class="js-action-form form-horizontal">
                                <div class="card-heading {{$match01.StatusBadgeClass}}">
                                    <div class="pull-right"><em class="ion-ios-browsers-outline icon-2x va-top"></em></div>
                                    <div class="card-title text-center">病例信息采集表</div>
                                </div>
                                <div class="card-body">
                                    <fieldset>
                                        {{ with $field := .Field "orgCode" }}
                                        <div class="form-group {{ .ErrClass }}">
                                            <label class="col-sm-2 control-label">研究中心编号</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="{{ $field.Name }}" class="form-control"
                                                    value="{{ firstof $field.Param $org.Code }}">
                                            </div>
                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        {{ with $field := .Field "orgName" }}
                                        <div class="form-group {{ .ErrClass }}">
                                            <label class="col-sm-2 control-label">研究中心名称</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="{{ $field.Name }}" class="form-control"
                                                    value="{{ firstof $field.Param $org.Name }}">
                                            </div>
                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        {{ with $field := .Field "familyPinyin" }}
                                        <div class="form-group {{ .ErrClass }}">
                                            <label class="col-sm-2 control-label">患者拼音姓</label>
                                            <div class="col-sm-3">
                                                {{ $fpy0 := secureIndex $patient.FamilyPinyin 0 }}
                                                <input type="text" name="{{ $field.Name }}"  class="form-control"
                                                    value="{{ firstof ($field.IndexParams 0) $fpy0 }}">
                                            </div>
                                            <div class="col-sm-3">
                                                {{ $fpy1 := secureIndex $patient.FamilyPinyin 1 }}
                                                <input type="text" name="{{ $field.Name }}"  class="form-control"
                                                    value="{{ firstof ($field.IndexParams 1) $fpy1 }}">
                                            </div>
                                        </div>
                                        {{ end }}
                                        {{ with $field := .Field "givenPinyin" }}
                                        <div class="form-group mt-lg {{ .ErrClass }}">
                                            <label class="col-sm-2 control-label">患者拼音名</label>
                                            <div class="col-sm-3">
                                                {{ $gpy0 := secureIndex $patient.GivenPinyin 0 }}
                                                <input type="text" name="{{ $field.Name }}" class="form-control"
                                                    value="{{ firstof ($field.IndexParams 0) $gpy0 }}">
                                            </div>
                                            <div class="col-sm-3">
                                                {{ $gpy1 := secureIndex $patient.GivenPinyin 1 }}
                                                <input type="text" name="{{ $field.Name }}" class="form-control"
                                                    value="{{ firstof ($field.IndexParams 1) $gpy1 }}">
                                            </div>
                                            <div class="col-sm-3">
                                                {{ $gpy2 := secureIndex $patient.GivenPinyin 2 }}
                                                <input type="text" name="{{ $field.Name }}" class="form-control"
                                                    value="{{ firstof ($field.IndexParams 2) $gpy2 }}">
                                            </div>
                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        {{ with $field := .Field "caseCode" }}
                                        <div class="form-group {{ .ErrClass }}">
                                            <label class="col-sm-2 control-label">患者研究编号</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="{{ $field.Name }}" class="form-control"
                                                    value="{{ firstof $field.Param $case.Code }}">
                                            </div>
                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            {{ with $field := .Field "patientName" }}
                                            <div class="col-sm-6 {{ .ErrClass }}">
                                                <div class="row">
                                                    <label class="col-sm-4 control-label">姓 名</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" name="{{ $field.Name }}" class="form-control"
                                                            value="{{ firstof $field.Param $case.PatientName }}">
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}

                                            {{ with $field := .Field "gender" }}
                                                {{ $gender := firstof $field.Param $match01.Gender }}
                                            <div class="col-sm-6 {{ .ErrClass }} js-gender">
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">性 别</label>
                                                    <div class="col-sm-9">
                                                        <div class="row">
                                                            <div class="col-sm-4 mr0 pr0">
                                                                <label class="radio-inline c-radio">
                                                                    <input type="radio" name="{{ $field.Name }}" value="1" checked>
                                                                    <span class="ion-record"></span>男
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4 ml0 pl0 mr0 pr0">
                                                                <label class="radio-inline c-radio">
                                                                    <input type="radio" name="{{ $field.Name }}" value="2">
                                                                    <span class="ion-record"></span>女
                                                                </label>
                                                            </div>
                                                        </div>
                                                        {{ with $msg := $field.Error }}
                                                            <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                        {{ end }}
                                                    </div>
                                                    <script>
                                                        $(".js-gender").find('input[value="'+ {{ $gender }} +'"]').attr('checked', true);
                                                    </script>
                                                </div>
                                            </div>
                                            {{ end }}
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            {{ with $field := .Field "birthdayStr" }}
                                            {{ $value := firstof $field.Param $match01.BirthdayStr }}
                                            <div class="col-sm-6 {{ .ErrClass }}">
                                                <div class="row">
                                                    <label class="col-sm-4 control-label">出生日期</label>
                                                    <div class="col-sm-8 ui-datepicker ui-datepicker-popup dp-theme-primary">
                                                        <div class="input-group">
                                                            <input type="text" name="{{ $field.Name }}" value="{{ $value }}" class="form-control js-birthday">
                                                            <span class="input-group-addon ion-ios-calendar-outline"></span>
                                                        </div>
                                                        {{ with $msg := $field.Error }}
                                                        <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                    {{ end }}
                                                    </div>
                                                </div>

                                            </div>
                                            {{ end }}


                                            {{ with $field := $root.Field "ethnicRadio" }}
                                            {{ with $field2 := $root.Field "ethnic" }}
                                                {{ $ethnic := firstof $field2.Param $match01.Ethnic }}
                                            <div class="js-ethnic col-sm-6 {{ firstof $field.ErrClass $field2.ErrClass}}">
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">民 族</label>
                                                    <div class="col-sm-9">
                                                        <div class="row">
                                                            <div class="col-sm-4 mr0 pr0">
                                                                <label class="radio-inline c-radio">
                                                                    <input type="radio" name="{{ $field.Name }}" value="1" checked>
                                                                    <span class="ion-record"></span>汉族
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4 ml0 pl0 mr0 pr0">
                                                                <label class="radio-inline c-radio">
                                                                    <input type="radio" name="{{ $field.Name }}" value="2">
                                                                    <span class="ion-record"></span>其他
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4 ml0 pl0">
                                                                <input type="text" name="{{ $field2.Name }}" class="form-control"
                                                                    value="{{ firstof $field2.Param $match01.Ethnic  }}">

                                                                {{ with $msg := $field2.Error }}
                                                                    <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                                {{ end }}
                                                            </div>
                                                        </div>
                                                        {{ with $msg := $field.Error }}
                                                            <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                        {{ end }}
                                                    </div>
                                                </div>
                                                <script>
                                                    var ethnicRadio = 1;
                                                    if ({{$ethnic}} || {{$field2.Error}}) {ethnicRadio =2};
                                                    $(".js-ethnic").find('input[value="'+ ethnicRadio +'"]').attr('checked', true);
                                                </script>
                                            </div>
                                            {{ end }}
                                            {{ end }}
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        {{ with $field := .Field "IDNo" }}
                                        <div class="form-group {{ $field.ErrClass }}">
                                            <label class="col-sm-2 control-label">身份证号</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="{{ $field.Name }}"  class="form-control"
                                                    value="{{ firstof $field.Param $match01.IDNo }}">
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                {{ end }}
                                            </div>

                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        {{ with $field := .Field "address" }}
                                        <div class="form-group {{ .ErrClass }}">
                                            <label class="col-sm-2 control-label">联系地址</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="{{ $field.Name }}" class="form-control"
                                                    value="{{ firstof $field.Param $match01.Address }}">
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            {{ with $field := .Field "relative" }}
                                            <div class="col-sm-6 {{ .ErrClass }}">
                                                <div class="row">
                                                    <label class="col-sm-4 control-label">近亲属姓名</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" name="{{ $field.Name }}" class="form-control"
                                                            value="{{ firstof $field.Param $match01.Relative }}">
                                                        {{ with $msg := $field.Error }}
                                                            <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                        {{ end }}
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}

                                            {{ with $field := .Field "relationship" }}
                                            <div class="col-sm-6 {{ .ErrClass }}">
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">与患者关系</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="{{ $field.Name }}" class="form-control"
                                                            value="{{ firstof $field.Param $match01.Relationship }}">
                                                        {{ with $msg := $field.Error }}
                                                            <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                        {{ end }}
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}
                                        </div>
                                    </fieldset>

                                    <fieldset>

                                        {{ with $field := .Field "phone" }}
                                        <div class="form-group {{ .ErrClass }}">
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <label class="col-sm-4 control-label">联系电话1</label>
                                                    <div class="col-sm-8">
                                                        {{ $phone0 := secureIndex $match01.Phone 0 }}
                                                        <input type="text" name="{{ $field.Name }}" class="form-control"
                                                            value="{{ firstof ($field.IndexParams 0) $phone0 }}">
                                                        {{ with $msg := $field.Error }}
                                                            <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                        {{ end }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">联系电话2</label>
                                                    {{ $phone1 := secureIndex $match01.Phone 1 }}
                                                    <div class="col-sm-9">
                                                        <input type="text" name="{{ $field.Name }}" class="form-control"
                                                            value="{{ firstof ($field.IndexParams 1) $phone1 }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            {{ with $field := .Field "hospitalNo" }}
                                            <div class="col-sm-6 {{ .ErrClass }}">
                                                <div class="row">
                                                    <label class="col-sm-4 control-label">住院号</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" name="{{ $field.Name }}" class="form-control"
                                                            value="{{ firstof $field.Param $match01.HospitalNo }}">
                                                        {{ with $msg := $field.Error }}
                                                            <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                        {{ end }}
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}

                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">研究编号</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="card-footer pt-xl pb-xl">
                                    <div class="row">
                                        <div class="text-center col-sm-10 col-sm-offset-1">
                                            {{ if not $match01.IsStatusFinished }}
                                            <button type="button" data-url="/cases/{{$case.IdHex}}/match01/draft" class="js-action-btn btn btn-warning pull-left">暂 存</button>
                                            {{ end }}
                                            <!-- <button type="button" class="btn btn-default">清除重填</button> -->
                                            <button type="button" data-url="/cases/{{$case.IdHex}}/match01" class="js-action-btn btn btn-info pull-right">确 认</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}