{{ define "survey/show_match02" }}

{{ .Set "header-title" "病例详情" }}
{{ .Set "sidebar-menu" "case-list" }}
{{ .Set "match" "match02" }}

{{ template "shared/_header" . }}

{{ $root := . }}
{{ $case := .Data.Case }}
{{ $patient := $case.Patient }}
{{ $survey := .Data.Survey }}
{{ $match02 := .Data.Survey.Match02 }}
{{ $org := .Data.Org }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <section>
            <ul class="breadcrumb breadcrumb-lead mb0">
                <li><a href="/cases">病例列表</a></li>
                <li class="active"><span>病例详情</span></li>
            </ul>
            <div class="container-fluid">
                <div class="row fh">
                    <div class="col-md-3 fh pl0">
                       {{ template "survey/match_list" . }}
                    </div>
                    <div class="col-md-9 fh pl0">

                        {{ template "shared/_alert" . }}

                        <div class="card">
                            <form method="post" class="js-action-form form-horizontal">
                                <div class="card-heading {{$survey.Match02.StatusBadgeClass}}">
                                    <div class="pull-right"><em class="ion-ios-browsers-outline icon-2x va-top"></em></div>
                                    <div class="card-title text-center">入排标准筛查表</div>
                                </div>
                                <div class="card-body mt">


                                    <fieldset>
                                        {{ with $field := .Field "caseCode" }}
                                        <div class="form-group {{ .ErrClass }}">
                                            <label class="col-sm-2 control-label">患者研究编号</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="{{ $field.Name }}" class="form-control"
                                                    value="{{ firstof $field.Param $case.Code }}">
                                            </div>
                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        {{ with $field := .Field "inGroupAtStr" }}
                                        {{ $value := firstof $field.Param $match02.InGroupAtStr }}
                                        <div class="form-group {{ .ErrClass }}">
                                            <label class="col-sm-2 control-label">入组时间：</label>
                                            <div class="col-sm-10 ui-datepicker ui-datepicker-popup dp-theme-primary">
                                                <div class="input-group">
                                                    <input type="text" name="{{ $field.Name }}" class="js-inGroup form-control"
                                                        value="{{ $value }}">
                                                    <span class="input-group-addon ion-ios-calendar-outline"></span>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt-sm">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                        </div>
                                        {{ end }}
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">入组标准：</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">要求下列2项问题所有回答为“<strong>是</strong>”</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ with $field := .Field "hasDiagnosed" }}
                                            {{ $value := firstof $field.Param $match02.HasDiagnosed }}
                                            <div class="js-hasDiagnosed col-sm-10 col-sm-offset-2 mt-lg {{ .ErrClass }}">
                                                <span class="help-block">1. 患者是否具有诊断未破裂脑动静脉畸形的MRI/MRA，CTA和/或脑血管造影？</span>

                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 是
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 否
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                            <script>
                                                $(".js-hasDiagnosed").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                            </script>
                                            {{ end }}

                                            {{ with $field := .Field "hasSigned" }}
                                            {{ $value := firstof $field.Param $match02.HasSigned }}
                                            <div class="js-hasSigned col-sm-10 col-sm-offset-2 mt-lg {{ .ErrClass }}">
                                                <span class="help-block">2. 患者是否已签署知情同意书？</span>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 是
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 否
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                            <script>
                                                $(".js-hasSigned").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                            </script>
                                            {{ end }}
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">排除标准：</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">要求下列问题所有回答为“<strong>否</strong>”</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ with $field := .Field "isIncurable" }}
                                            {{ $value := firstof $field.Param $match02.IsIncurable }}
                                            <div class="js-isIncurable col-sm-10 col-sm-offset-2 mt-lg {{ .ErrClass }}">
                                                <span class="help-block">1. 患者有并且被当地医疗团队视为不可治疗，或伴随有任何无法接受介入治疗的血管疾病（例如狭窄/闭塞颈动脉，既往脑外科手术/放射治疗等原因）？</span>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 是
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 否
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                            <script>
                                                $(".js-isIncurable").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                            </script>
                                            {{ end }}

                                            {{ with $field := .Field "isLessFive" }}
                                            {{ $value := firstof $field.Param $match02.IsLessFive }}
                                            <div class="js-isLessFive col-sm-10 col-sm-offset-2 mt-lg {{ .ErrClass }}">
                                                <span class="help-block">2. 患者伴有疾病/预期寿命小于5年？</span>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 是
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 否
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                            <script>
                                                $(".js-isLessFive").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                            </script>
                                            {{ end }}

                                            {{ with $field := .Field "isDecreased" }}
                                            {{ $value := firstof $field.Param $match02.IsDecreased }}
                                            <div class="js-isDecreased col-sm-10 col-sm-offset-2 mt-lg {{ .ErrClass }}">
                                                <span class="help-block">3. 患者有血小板减少症（<100,000 /μL）？</span>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 是
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 否
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                            <script>
                                                $(".js-isDecreased").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                            </script>
                                            {{ end }}

                                            {{ with $field := .Field "isIncorrigible" }}
                                            {{ $value := firstof $field.Param $match02.IsIncorrigible }}
                                            <div class="js-isIncorrigible col-sm-10 col-sm-offset-2 mt-lg {{ .ErrClass }}">
                                                <span class="help-block">4. 患者有无法纠正的凝血功能障碍（INR> 1.5）？</span>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 是
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 否
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                            <script>
                                                $(".js-isIncorrigible").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                            </script>
                                            {{ end }}

                                            {{ with $field := .Field "isClear" }}
                                            {{ $value := firstof $field.Param $match02.IsClear }}
                                            <div class="js-isClear col-sm-10 col-sm-offset-2 mt-lg {{ .ErrClass }}">
                                                <span class="help-block">5. 患者明确对碘造影剂有过敏反应？</span>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="1">
                                                            <span class="ion-record"></span> 是
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label class="radio-inline c-radio">
                                                            <input type="radio" name="{{ $field.Name }}" value="2">
                                                            <span class="ion-record"></span> 否
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ with $msg := $field.Error }}
                                                    <label class="error mb0 mt">{{ $msg }}</label>
                                                {{ end }}
                                            </div>
                                            <script>
                                                $(".js-isClear").find('input[value="'+ {{ $value }} +'"]').attr('checked', true);
                                            </script>
                                            {{ end }}
                                        </div>
                                    </fieldset>

                                </div>
                                <div class="card-footer pt-xl pb-xl">
                                    <div class="row">
                                        <div class="text-center col-sm-10 col-sm-offset-1">
                                            {{ if not $match02.IsStatusFinished }}
                                            <button type="button" data-url="/cases/{{$case.IdHex}}/match02/draft" class="js-action-btn btn btn-warning pull-left">暂 存</button>
                                            {{ end }}
                                            <!-- <button type="button" class="btn btn-default">清除重填</button> -->
                                            <button type="button" data-url="/cases/{{$case.IdHex}}/match02" class="js-action-btn btn btn-info pull-right">确 认</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}