{{ define "survey/show" }}

{{ .Set "header-title" "病例详情" }}
{{ .Set "sidebar-menu" "case-list" }}

{{ template "shared/_header" . }}

{{ $root := . }}
{{ $case := .Data.Case }}
{{ $survey := .Data.Survey }}
{{ $patient := $case.Patient }}
{{ $org := .Data.Org }}
{{ $isAdmin := .Data.IsAdmin }}

<div class="layout-container">
    {{ template "shared/_top_navbar" . }}

    {{ template "shared/_sidebar" . }}

    <main class="main-container">
        <div class="row bg-white">
            <div class="col-xs-6">
                <ul class="breadcrumb breadcrumb-lead mb0">
                    <li>
                        <a href="/cases">病例列表</a>
                    </li>
                    <li class="active">
                        <span>病例详情</span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 text-right">
                <form method="post" class="js-action-form">

{{/*                    {{ if $isAdmin }}*/}}
{{/*                    <a href="/export?orgId={{$org.IdHex}}&matchId={{$survey.MatchId}}"*/}}
{{/*                        class="btn btn-labeled btn-success ripple mt mr-lg">*/}}
{{/*                        <span class="btn-label">*/}}
{{/*                            <i class="ion-forward"></i>*/}}
{{/*                        </span>导出 CSV*/}}
{{/*                        <span class="md-ripple"></span>*/}}
{{/*                    </a>*/}}

{{/*                    <a href="/exportPDF?orgId={{$org.IdHex}}&caseId={{$case.IdHex}}&surveyOrMatchId={{$survey.SurveyOrMatchIdHex}}"*/}}
{{/*                        class="btn btn-labeled btn-success ripple mt mr-lg" target="_blank">*/}}
{{/*                        <span class="btn-label">*/}}
{{/*                            <i class="ion-forward"></i>*/}}
{{/*                        </span>导出 PDF*/}}
{{/*                        <span class="md-ripple"></span>*/}}
{{/*                    </a>*/}}
{{/*                    {{ end }}*/}}

                    <button type="button" data-url="/cases/{{$case.IdHex}}/{{$survey.MatchId}}/new"
                        class="js-action-btn btn btn-labeled btn-primary ripple mt mr-lg">
                        <span class="btn-label">
                            <i class="ion-plus"></i>
                        </span>新增当前表
                        <span class="md-ripple"></span>
                    </button>
                </form>
            </div>
        </div>
        <section id="css-survey-section">

            <div class="container-fluid">
                <div class="row fh">
                    <div class="col-md-3 fh pl0">
                        {{ template "survey/match_list" . }}
                    </div>
                    <div class="col-md-9 fh pl0">

                        {{ template "shared/_alert" . }}
                        <div class="card">
                            <div class="card-heading {{$survey.StatusBadgeClass}}">
                                <div class="card-title text-center">{{ $survey.MatchName }}</div>
                            </div>

                            <div class="card-body">
                                <form class="js-action-alt-form" method="POST">

                                    {{ $dict := dict "root" $root "survey" $survey }}
                                    {{ template "survey/_render_form" $dict }}

                                    <input type="hidden" name="surveyId" value="{{ $survey.SurveyId }}">
                                    <input type="hidden" name="matchId" value="{{ $survey.MatchId }}">

                                </form>
                            </div>

                            <div class="card-footer pt pb">
                                <div class="row">
                                    <div class="text-center col-sm-10 col-sm-offset-1">
                                        {{ if not $survey.IsStatusFinished }}
                                        <button type="button"
                                            data-url="/cases/{{$case.IdHex}}/{{$survey.SurveyOrMatchIdHex}}/draft"
                                            class="btn js-action-alt-btn btn-warning pull-left mr">暂 存</button>
                                        {{ end }}

                                        {{ if $survey.IsDeletable }}
                                        <button type="button" data-url="/cases/{{$case.IdHex}}/{{$survey.SurveyId}}"
                                            data-goto-url="/cases/{{$case.IdHex}}"
                                            class="btn js-delete btn-danger pull-left mr">删 除</button>
                                        {{ end }}
                                        <button type="button" class="btn js-reset btn-warning pull-left">清除重填</button>
                                        <button type="button"
                                            data-url="/cases/{{$case.IdHex}}/{{$survey.SurveyOrMatchIdHex}}"
                                            class="btn js-action-alt-btn btn-primary pull-right">确 认</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "shared/_bottom_info" }}
    </main>
</div>

{{ template "shared/_footer" }}
{{ end }}