{{ define "shared/_alert" }}

    {{ if .Info.warning }}
        <div class="alert alert-warning"><span>{{ .Info.warning }}</span></div>
    {{ end }}

    {{ if .Info.success }}
        <div class="alert alert-success"><span>{{ .Info.success }}</span></div>
    {{ end }}

    {{ if .Info.danger }}
        <div class="alert alert-danger"><span>{{ .Info.danger }}</span></div>
    {{ end }}

    {{ if .Info.info }}
        <div class="alert alert-info"><span>{{ .Info.info }}</span></div>
    {{ end }}

{{ end }}