{{ define "shared/_footer" }}

{{ template "shared/_modal" }}

{{ $v := 21 }}

<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/form-builder.min.js"></script>
<script src="/assets/js/form-render.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/app.js?v={{$v}}"></script>
<script src="/assets/js/app2.js?v={{$v}}"></script>

</body>

</html>


{{ end }}