{{ define "shared/_header" }}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Bootstrap Admin Template">
  <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
  <title>临床研究数据库</title>

  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">

  <!-- Application styles-->
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/assets/css/app2.css?v=20">

  <!-- jQuery-->
  <script src="/assets/js/jquery.js"></script>
</head>

<body class="theme-2">


  {{ end }}