{{ define "shared/_sidebar" }}

{{ $org := curOrg .Me.OrgID }}

<!-- sidebar-->
<aside class="sidebar-container">
    <div class="sidebar-header">
        <div class="pull-right pt-lg text-muted hidden"><em class="ion-close-round"></em></div>
        <a href="/" class="sidebar-header-logo">
            <img src="/assets/img/logo.png" data-svg-replace="/assets/img/logo.svg" alt="Logo">
            <span class="sidebar-header-logo-text" style="font-size: 85%">临床研究数据平台</span>
        </a>
    </div>
    <div class="sidebar-content">
        <div class="sidebar-toolbar text-center"><a href=""><img src="/assets/img/user/01.jpg" alt="Profile" class="img-circle thumb64"></a>
            <div class="mt">欢迎，{{ .Me.Name }}</div>
            {{ with $org }}
            <small class="text-muted">{{ .NameWithCode }}</small>
            {{ end }}
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li class="project-overview">
                    <a href="/" class="ripple">
                        <em class="js-arrow pull-right ion-ios-arrow-forward" style="display:none"></em>
                        <span class="nav-icon"><img src="" data-svg-replace="/assets/img/icons/aperture.svg" ></span>
                        <span>首页</span>

                    </a>
                </li>
                <li class="case-list">
                    <a href="/cases" class="ripple">
                        <em class="js-arrow pull-right ion-ios-arrow-forward" style="display:none"></em>
                        <span class="nav-icon"><img src="" data-svg-replace="/assets/img/icons/clipboard.svg"></span>
                        <span>病例列表</span>
                    </a>
                </li>

                {{ if .Me.Role.IsAdmin }}

                <li class="org-list">
                    <a href="/orgs" class="ripple">
                        <em class="js-arrow pull-right ion-ios-arrow-forward" style="display:none"></em>
                        <span class="nav-icon"><img src="" data-svg-replace="/assets/img/icons/erlenmeyer-flask.svg"></span>
                        <span>研究中心管理</span>
                    </a>
                </li>
                <li class="user-list">
                    <a href="/users" class="ripple">
                        <em class="js-arrow pull-right ion-ios-arrow-forward" style="display:none"></em>
                        <span class="nav-icon"><img src="" data-svg-replace="/assets/img/icons/person-stalker.svg"></span>
                        <span>人员管理</span>
                    </a>
                </li>
                <!--<li class="ai-show">
                    <a href="/ai" class="ripple">
                        <em class="js-arrow pull-right ion-ios-arrow-forward" style="display:none"></em>
                        <span class="nav-icon">
                            <img src="" data-svg-replace="/assets/img/icons/planet.svg">
                        </span>
                        <span>人工智能</span>
                    </a>
                </li>-->
                <!-- <li class="match-list">
                    <a href="/matches" class="ripple">
                        <em class="js-arrow pull-right ion-ios-arrow-forward" style="display:none"></em>
                        <span class="nav-icon"><img src="" data-svg-replace="/assets/img/icons/person-stalker.svg"></span>
                        <span>研究表管理</span>
                    </a>
                </li> -->
                {{ end }}
            </ul>
        </nav>
        <div style="margin-top: 15%;margin-left: 10%">
            <p>公司：浩聚科技</p>
            <p>电话：021-60564856</p>
            {{/*<p>地址：中国（上海）浦东新区祥科路58号B棟2层228室</p>*/}}
            <p>联系人：数据服务部</p>
        </div>
    </div>
</aside>
<div class="sidebar-layout-obfuscator"></div>

{{ with $menu := .Get "sidebar-menu" }}
<script>
    $(function() {

        $(".js-arrow").hide();
        var _menu = $("." + {{ $menu }});
        _menu.addClass("active");
        _menu.find(".js-arrow").show();
    });
</script>
{{ end }}

{{ end }}