{{ define "shared/_top_navbar" }}

<!-- top navbar-->
<header class="header-container">
    <nav>
        <ul class="visible-xs visible-sm">
            <li><a id="sidebar-toggler" href="#" class="menu-link menu-link-slide"><span><em></em></span></a></li>
        </ul>
        <ul class="hidden-xs ml-sm">
            <li class="active"><a id="offcanvas-toggler" href="#" class="menu-link menu-link-slide"><span><em></em></span></a></li>
        </ul>
        <h2 class="header-title pl-sm">{{ .Get "header-title" }}</h2>

        <ul class="pull-right mr">
            <!-- <li><a href="#" class="ripple"><em class="ion-email"></em><sup class="badge bg-danger">3</sup></a></li> -->

            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle has-badge ripple"><em class="ion-person"></em></a>
                <ul class="dropdown-menu dropdown-menu-right md-dropdown-menu">
                    <!-- <li><a href="#"><em class="ion-home icon-fw"></em>个人主页</a></li> -->
                    <!-- <li><a href="/settings/sms"><em class="ion-gear-a icon-fw"></em>短信设置</a></li> -->
                    <li><a href="/settings/reset-password"><em class="ion-gear-a icon-fw"></em>修改密码</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="/logout"><em class="ion-log-out icon-fw"></em>退出</a></li>
                </ul>
            </li>
            <!-- <li><a id="header-settings" href="#" class="ripple"><em class="ion-gear-b"></em></a></li> -->
        </ul>
    </nav>
</header>

{{ end }}